@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-10-01 17:59:30
 * @version $Id$
 */
pre{padding:0;font-size: 14px;background: transparent;border:0;border-radius:0;}
pre p,
p{text-indent:2em;}

.fav-js .btn{border-color: #ED5153;}
.main-box{border:1px solid #e0e0e0; background: #FFF;margin-top: 10px; padding: 25px 25px 0;}
.left-box,
.right-box{background: #FFF;}
.left-box{padding-right:8px; padding-left: 0; min-height: 600px;}
.right-box{ padding-left:8px; }

.module-box{padding-bottom: 20px;}

.title-box h2{margin: 0; padding-left: 10px;font-size: 14px; font-weight: bold;}
.title-box a{padding-right: 10px;color: #1672b3;}
.title-box .title-hr{height: 0;line-height: 0;font-size: 0; border-bottom: 1px solid #1672b3; margin: 6px 0 10px 0; filter:alpha(opacity=25);  -moz-opacity:0.25;  -webkit-opacity: 0.25;  opacity: 0.25;  }

.table-element {margin: 10px 0 0;}
.table-element thead tr th{ background: #e7f1f7; color: #4d6070; text-shadow: 0 0 0 rgba(0, 0, 0, 0.35); border-bottom: 1px solid #c5dcec; padding: 8px 10px; font-weight: normal; font-size: 12px;}
.table-element.table-hover > tbody > tr:hover > td,
.table-element.table-hover > tbody > tr:hover > th {background-color:#f0f5f8;}
.table-element tbody tr td{ font-size: 12px; padding: 6px 10px 2px; color: #666666; border-top: 1px solid #f9f0fb; text-align: left;}
.table-element tbody tr td a{ display: inline-block; overflow: hidden; height: 20px;line-height: 20px;}

.table-element1 thead tr th,
.table-element1 thead:first-child tr:first-child th{ border-top: 1px solid #c5dcec;}

.ul-box{padding: 0 6px;}
.recommend-company .thumbnail {margin-bottom: 10px; border-radius: 0 0 0 0;}



/*详情*/

.detail-title-btn .btn{color: #ED5153; background-color: #FFF; box-shadow: #FFF; border-color: #ED5153; font-weight: bold; padding: 6px 20px; margin-bottom: 20px; white-space: nowrap; box-shadow: none;}
.detail-title-btn .btn:hover{color: #FFF; background-color: #ED5153;}
.detail-title h3{font-size: 22px; font-family: "microsoft yahei"; margin-top:0;}
.detail-content{padding: 0 20px; font-size: 14px; line-height: 24px;}
.dl-horizontal2{margin-bottom: 0;}
.dl-horizontal2 dd,
.dl-horizontal2 dt{line-height: 28px;}
.dl-horizontal2 dd{color: #333333; margin-left:0;}
.dl-horizontal2 dt{ color: #666666; width: 70px; text-align: left; font-weight: normal;}
.contact-way .dl-horizontal2 dt{color: #666666; width: 100px;}
.detail-content .dl-horizontal dd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 0;}


.job-detail-date-module span{color: #666666; font-size: 12px; border-right: 1px solid rgba(116, 51, 131, .25); padding: 0 10px;}
.job-detail-date-module span em{font-style: normal; padding-right: 6px;}
.detail-title-job-module,
.job-detail-date-module { border-bottom: 1px dashed #C5DCEC;}

.description-text {margin-bottom: 30px; padding-top: 10px;}
#en_description{margin: 40px 0 15px; padding-bottom: 4px; font-size: 16px; font-family: "Microsoft YaHei"; color: #666666; border-bottom: 1px solid #DDDDDD; }
.detail-share{padding-top: 12px;}
.btn.purple{ padding: 8px 36px; background: #ED5153; color: #FFFFFF; border-color: #ED5153;}

.detail-tabbox.nav-tabs{background: #f5f5f5;  border-bottom: 1px solid #1672B3; padding-left: 20px;}
.detail-tabbox.nav-tabs > li{margin-bottom: 0;}
.detail-tabbox.nav-tabs > li > a {border: 1px solid #dedfe0; border-bottom:0; border-left: 0; border-radius: 0 0 0 0;  margin: 0; padding: 5px 15px;background: #FFF; font-size: 14px;}
.detail-tabbox.nav-tabs > li:first-child > a{border-left: 1px solid #dedfe0; }
.detail-tabbox.nav-tabs > li.active >a,
.detail-tabbox.nav-tabs > li.active > a:hover,
.detail-tabbox.nav-tabs > li.active > a:focus {border: 1px solid #1672B3; border-top: 2px solid #1672B3; border-bottom: 1px solid #FFF; margin-bottom: -1px;}





