/*导入简历*/

.tab-guide-into{margin-top: 30px;}
.admin-guide-info{padding:0 15px 20px 20px; margin-top: 20px; min-height: 600px;}
.guide-into-content > form{margin-top: 30px;}
.admin-guide-info .nav-tabs{ background-color: #f6f8fa;}
.admin-guide-info .alert-danger-form{margin-top: 20px;}
.admin-guide-info .form-group-btn .btn{padding-right: 45px;padding-left: 45px; font-weight: bold; margin-top: 20px;}

.module-left-tishi{padding:0 20px 20px; margin-top: 20px; border-left: 1px solid #f0f2f5; min-height: 400px;}
.module-left-tishi h3{ margin:0; font-size: 18px; font-family:"Microsoft YaHei"; font-weight: normal; color: #4b89dc;}
.module-tishi{margin-top: 15px;}
.module-tishi p{background: url(../images/tishi_03.png) left 4px no-repeat; color: #99a3b1;font-size: 12px; text-indent: 0; padding-left: 22px;}
.admin-guide-info .yanzheng img{max-height: 45px; border-radius: 6px;}



.tab-guide-into .table thead > tr > th,
.tab-guide-into .table tbody > tr > th,
.tab-guide-into .table tfoot > tr > th,
.tab-guide-into .table thead > tr > td,
.tab-guide-into .table tbody > tr > td,
.tab-guide-into .table tfoot > tr > td{padding: 16px 8px;}
.tab-guide-into table{font-size: 12px; color: #768082;}
.tab-guide-into table tbody tr:first-child td{border-top: 0;}
.tab-guide-into table tr td:first-child{ padding-left: 50px; background-image: url(../images/daoru_09.png); background-position: 20px -138px; background-repeat: no-repeat;}
.tab-guide-into table tr td i{vertical-align: middle;}
.tab-guide-into .guide-into-success{color: #48cfad;}
.tab-guide-into .guide-into-success i{ margin-right: 15px; display: inline-block; height: 16px; width: 16px; background: url(../images/daoru_09.png) center 4px no-repeat;}
.tab-guide-into .guide-into-fail{color: #ed5565;}
.tab-guide-into .guide-into-fail i{ margin-right: 15px; display: inline-block; height: 16px; width: 16px; background: url(../images/daoru_09.png) center -51px no-repeat;}
.tab-guide-into .guide-into-ing{color: #4fc1e9;}
.tab-guide-into .guide-into-ing i{ margin-right: 15px; display: inline-block; height: 16px; width: 16px; background: url(../images/ing.gif) center center no-repeat;}
.tab-guide-into .guide-into-wait{color: #a4a9ae;}
.tab-guide-into .guide-into-wait i{ margin-right: 15px; display: inline-block; height: 16px; width: 16px; background: url(../images/daoru_09.png) center -104px no-repeat;}
.guide-alert-success,
.guide-alert-fail {padding: 20px 30px;}
.guide-alert-success .btn,
.guide-alert-fail .btn{padding: 8px 48px 12px; font-weight: bold;}
.guide-alert-success h3,
.guide-alert-fail h3 {font-size: 16px;font-family:"Microsoft YaHei"; margin-top: 0;}
.guide-alert-fail h3{margin-top: 5px; margin-bottom: 30px;}

.guide-alert-success h3 strong,
.guide-alert-fail h3 strong{font-size: 21px; font-weight: normal;}

.guide-alert-success p > a{text-decoration: underline;}
.guide-alert-success p > a:hover{color: #2284fc;}
.guide-alert-success p{margin-bottom: 30px;}
.skip{margin-left: 40px; color: #ED5153;}
.skip:hover{text-decoration: underline; color: #ED5153;}

.wrap-inner > .alert:first-child{margin: 10px 0 40px;}
.wrap-inner > .alert:first-child a{font-size: 12px; text-decoration: underline;}
.alert-danger-form{margin: 20px 0 0;}



/*../导入简历*/