
a{color: #0063dc;}
a:hover,
a:focus{color: #0063dc;}

pre{padding:0;font-size: 14px;background: transparent; border:0;border-radius:0;}
pre p,
p{text-indent:2em;}


html,
body{line-height: 20px; font-size: 12px;}
.wrap-inner label abbr { padding-right: 2px; border: 0 none;color: #FF0000;font-family: SimHei;vertical-align: middle;}
.wrap-inner .error-text-right .error { color: red;}

/*tooltip*/
.tooltip-inner{padding: 10px; max-width: 210px;}
.atip{cursor: pointer;}
.atip > i{ color: #5d9cec; font-size: 16px; vertical-align: middle;}
.tooltip-content{padding:0; text-align: left;}

/* /tooltip*/

/* scroll fixed */
.nav-fixed{position:fixed;top:0;z-index:10; /*opacity: 0.9;*/}
@media (min-width: 990px){
	.nav-fixed{width: 335px;}
}
@media (max-width: 990px){
	.nav-fixed{width: 335px;}
}
@media (max-width: 767px){
	.nav-fixed{position: inherit; width: 100%;}
}
/* /scroll fixed */

.module-edit-resume-box .modal-dialog{width: 750px;}

.module-edit-resume-box .btn-width{padding: 10px 45px; font-weight: bold;}
.module-edit-resume-box .btn-link{color: #abadb3; font-weight: normal; text-shadow:none;}

.module-edit-resume-box{padding: 30px; background-color: #FFFFFF; border-radius: 5px; border-bottom: 3px solid #e3e4e8;  margin-bottom: 10px;font-family: "microsoft yahei";}
.main-top{margin: 20px 0 15px;}
.module-edit-name{ font-size: 14px; color: #768082}
.module-edit-name .amend { font-size: 13px; margin-left: 10px;}
.module-edit-name .btn { padding: 6px 15px; margin-left: 10px; font-weight: bold;}
.module-edit-name .btn-preview { float: right;}
.module-edit-name .resume-name { border-radius: 4px; overflow: hidden;}

.personal-main-edit{padding-top: 10px;}

.module-edit-resume-box-left{ background-color: #FFFFFF; border-radius: 5px; border-bottom: 3px solid #e3e4e8; overflow: hidden;margin-bottom: 10px;}
.module-edit-resume-box-left .top-bg{ background-color: #f6f8fa; height: 52px; border-bottom: 2px solid #e3e4e8;}
.edit-resume-table{padding: 0 20px; margin-top: -52px;}
.edit-resume-table .table{color: #6c6c6c; margin: 0;}
.edit-resume-table .table th{text-align: left; color: #768082; font-size: 12px; font-weight: normal;}
.edit-resume-table .table thead > tr > th:last-child {text-align: center;}
.edit-resume-table .table th:first-child{text-align: left;}
.edit-resume-table .table tr td > i{color: #c5c9ce; font-size: 16px; vertical-align: middle; margin-right: 4px;}
.edit-resume-table .table tr td > a{color: #6c6c6c;}
.edit-resume-table .table tr td:first-child > a{color: #0063dc;}
.edit-resume-table .table tr td > a.active{color:#0063dc; text-decoration: underline;}
.edit-resume-table .table tr td > a.current-link{color:#0063dc; text-decoration: none;}
.edit-resume-table .table tr td > a.current-link:hover{text-decoration: underline;}

.edit-resume-table .table thead > tr > th,
.edit-resume-table .table tbody > tr > th,
.edit-resume-table .table thead > tr > td,
.edit-resume-table .table tbody > tr > td{ padding: 18px 8px;}


.edit-resume-table .table thead > tr > th{border-bottom:none; white-space: nowrap;}
.edit-resume-table .table thead > tr > th .tooltip-content{white-space: normal;}
.edit-resume-table .table tbody > tr > td{ border-top: none; border-bottom: 2px dashed #f1f1f3;}
.edit-resume-table .table tbody > tr > td > span{ font-size: 12px;}
.edit-resume-table .table tbody > tr > td > .checkbox{ margin: 0; display: inline-block; padding: 0;}
.edit-resume-table .table tbody > tr > td > .checkbox input{ margin: 0;}
.edit-resume-table .table tbody > tr> td:first-child > a{ color: #768082;}
.edit-resume-table .table tbody > tr:last-child > td{ border-bottom:none;}

.edit-resume-table .table tbody > tr > td {line-height: 12px;}
.edit-resume-table .table .progress{height: 12px; margin-bottom: 0;}
.edit-resume-table .table .progress-bar-danger{background: #ed5565;}
.edit-resume-table .table .progress-100{background: #8cc152;}
.edit-resume-table .table tbody tr:hover > td,
.edit-resume-table .table tbody tr:hover > th {background-color: #f6f8fa;}

.information-title{background-color: #f6f8fa; padding: 0 10px;}
.information-title-inner{background-color:#ffffff;}
.information-title h3{margin:0; font-size: 18px; font-weight: bold; color: #768082; font-family: "Microsoft YaHei"; line-height: 35px; vertical-align: middle;}
.information-title .edit-delate{ float: right; }
.information-title .edit-delate span{ color: #abadb3; padding: 0 4px; }
.information-title a{line-height: 35px; vertical-align: middle; color: #abadb3; font-size: 16px;}
.information-title a i{ vertical-align: middle; }
.information-title a.edit-link:hover{ color: #4b89dc; text-decoration: none;}
.information-title a.delate-link:hover{ color: #ed5153;}

.module-information-content{margin: 20px 0 20px;}
.module-information-table{margin-top: 0;}
.module-information-content input.form-control,
.module-information-content select.form-control{border-radius: 4px; padding: 10px 12px; height: 42px;}
.module-information-content textarea.form-control{border-radius: 4px;}
.module-information-content .form-group{margin-bottom: 10px}
.module-information-content .form-group label{ color: #768082; font-size: 14px; font-weight: normal; padding-top: 12px;}
.module-information-content .form-group label em{ color: #ed5565; padding-right: 2px; font-style: normal;font-size: 16px; font-family: "Microsoft YaHei"; vertical-align: middle;}
.module-information-content .time{padding-left: 10px;}

.face-image{text-align: center;}
.face-image img{ border-radius: 5px;}
.face-image a{ color: #abadb3; font-size: 12px;}
.face-image a i{ vertical-align: middle;}

.delate-x{line-height: 42px;color: #abadb3;}
a.delate-x:hover{color: #ed5153;}
.btn-text{padding: 0; text-shadow:none; font-size: 12px; color: #434a54;}
.btn-group.open .dropdown-toggle.btn-text{box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;}
.module-information-content .dropdown-menu{text-align: left;}
.btn-text .caret{border-top-color: #e3e4e8; border-width: 6px 6px 0;}


.module-information-save{padding: 0 0 30px;}
.module-information-finish{border-top: 1px solid #f6f8fa; padding: 30px 0;}
.module-information-finish .btn-link{color: #abadb3; font-weight: normal; text-shadow:none;}

.information-finish{margin:  0 0 15px;}
.information-list-info > a{ color: #434a54;}
.information-list-info span{font-size: 12px; color: #768082;}
.information-list-info i{font-size: 16px; color: #768082;}
.information-list-info i{ font-style: normal; }
.information-list-info h3{ margin: 5px 0 0; font-size: 18px; font-weight: normal; font-family: "Microsoft YaHei";}
.information-list-info h4{ font-size: 14px; font-weight: normal; font-family: "Microsoft YaHei";}
.information-list-info .black-span{color: #555555; font-size: 16px;}
.information-list-info .grey-span{ padding-right: 10px; color: #999999; font-size: 18px;}

.information-title-add {border-bottom: 1px solid #f6f8fa; padding-bottom: 10px; margin-bottom: 20px;}
.information-title-add h3{font-size: 14px; font-weight: bold; color: #768082; margin: 0;}

.information-list{padding: 0 10px; margin-bottom: 15px;}
.information-list .edit-delate{ float: right; font-size: 14px;}
.information-list .edit-delate a{ vertical-align: middle; color: #abadb3; text-shadow:none; }
.information-list .edit-delate a:hover{ color: #0063DC; text-decoration: none;}
.information-list .edit-delate a:hover i{ color: #0063DC; }
.information-list .edit-delate a.edit-link:hover{ color: #4b89dc;}
.information-list .edit-delate a.delate-link:hover{ color: #ed5153;}
.information-list .edit-delate span{ color: #abadb3; padding: 0 4px; }
.information-list-info{padding-left: 20px;}
.information-list-eduction{margin-bottom: 15px;}
.information-detail{margin-top: 0;padding-left: 20px;}
.information-detail p{ font-size: 14px; color: #777777; text-indent: 0; margin: 0; line-height: 24px;}


.edite-add-block{margin-top: 20px; margin-bottom: 30px;}
.edite-add-block a{ padding:22px 20px 18px; background-color: #f4faee; box-shadow: 0 0px 0 rgba(0, 0, 0, 0.08) inset; text-align: left; font-family: "Microsoft YaHei"; font-size: 14px; color: #9aaa8c; border:2px dashed #d0d9c8; text-shadow: 0 0px 0 rgba(0, 0, 0, 0.15);}
.edite-add-block a span{ color: #768082; font-family: SimSun; font-size: 12px; font-weight: normal;}
.edite-add-block a i{ color: #d0d9c8; font-size: 26px; margin-right: 10px; vertical-align: middle;}
.edite-add-block a:hover{ color: #a6b797;}

.edite-table thead > tr > th{border-bottom: 1px solid #f6f8fa;}
.edite-table tbody > tr > td{border-top: 0;}
.edite-table thead > tr > th,
.edite-table tbody > tr > th,
.edite-table thead > tr > td,
.edite-table tbody > tr > td{ color: #768082; font-weight: normal;font-size: 12px;}
.edite-table tbody > tr > td > a{ vertical-align: middle; color: #abadb3; text-shadow:none; }
.edite-table tbody > tr > td > a.edit-link:hover{ color: #4b89dc;}
.edite-table tbody > tr > td > a.delate-link:hover{ color: #ed5153;}
.edite-table tbody > tr > td > span{ color: #abadb3; padding: 0 4px; }


/*简历预览*/

.preview-resume-text {margin-bottom: 20px; padding: 0 10px;}
.preview-resume-text p{color: #768082; line-height: 20px;}
.base-infomation h3{font-size: 24px;color: #434a54;font-family:"Microsoft YaHei"; margin-top: 0;}
.base-infomation p{ padding-left: 30px; text-indent: 0;font-size: 16px; line-height: 28px; font-family:"Microsoft YaHei";color: #434a54; margin-bottom:0;}
.base-infomation .row p{padding-left: 20px;}
.base-infomation p i{font-style: normal; padding: 0 8px; color: #abadb3;}
.base-infomation p span{}
.base-infomation p span,
.base-infomation p i{line-height: 24px;}
.base-infomation h4{font-size: 12px; font-weight: bold; color: #434a54; margin-bottom: 0;border-bottom: 1px solid #f6f8fa; padding-bottom: 10px;}


.base-infomation dl{margin-bottom: 10px;}
.base-infomation dl dt,
.base-infomation dl dd{line-height: 24px;}
.base-infomation dl dt{width: 118px; font-weight: normal; color: #768082;}
.base-infomation dl dd{ margin-left: 122px; * margin-left: 0;}
.base-infomation-personal{ margin-bottom: 15px;}
.base-infomation-personal > p{ margin-top: 10px; margin-bottom: 0;}
.base-infomation-personal > p > span{ color: #768082;}
.information-detail  p > b{font-size: 12px; font-weight: bold;}
/* /简历预览*/

/*编辑头像*/
.face-box-left-inner{padding:15px; background-color: #FFFFFF;}
.face-image-box{border:1px solid #e0e0e0; background-color: #F8FCE7;}
.touxiang-right-box-inner{ background:#f8fce7; border-left:1px solid #cccfbe; padding: 12px 20px;}
.touxiang-left-box .left95{position:relative; left:-95px; top:0;}
.face-image-main{padding:4px;background:#FFF;}
.preview-yulan{overflow:hidden; background:#7ce4f6;}
.touxiang-right-in{ margin:0 auto;padding:20px 0 50px;font:14px/35px Arial, SimSun;color:#1a1d24;}
.modal-face-image{width: 800px;}
.modal-face-image .btn-face-image{padding: 6px 20px; font-weight: bold;}
.modal-face-image .face-box-left{padding-right: 0; border-right: 1px solid #CCCFBE; margin-right: -1px;}
.modal-face-image .face-box-right{padding-left: 0;}
#preview-pane .preview-container{width: 140px; height: 140px; overflow: hidden;}
/* /编辑头像*/


.ucenter-form-group select.form-control{display: inline-block;width: 46%;margin-right: 5px;}
.breadcrumb-link{padding-bottom: 5px;margin-bottom: 5px;margin-top: 5px;border-bottom: 1px solid #fff;}
.breadcrumb-link,
.breadcrumb-link a{color: #768082;}
.loading-tips{margin-top: 20px;}



@media (max-width: 768px){
	.module-edit-resume-box{padding: 10px;}
	.module-edit-resume-box-left .top-bg{display: none;}
	.edit-resume-table{padding: 0px; margin-top: 0px;}
	.edit-resume-table .table thead > tr > th{background-color: #f6f8fa; border-bottom: 2px solid #e3e4e8;}
	.module-edit-name .btn { margin-right: 5px; }

}
@media (max-width: 767px){
.module-edit-name .resume-name{margin-top: 6px;}
.module-information-content .form-group label{padding-top: 0;}
.module-information-content .form-group {margin-bottom: 0px;}
.module-information-content input,
.module-information-content select{margin-bottom: 10px;}
.add-link{margin-bottom: 10px; display: inline-block;}
.module-information-finish{ padding: 15px 0;}
.base-infomation dl dd{margin-left: 0;}
}