.language-box{padding: 50px 0 0;min-height: 565px;}
.language-box .control-label.text-left{text-align: left; text-indent: 30px;}
.language-text { margin: 20px 30px 40px; background-color: #f4faee;border:2px solid #d0d9c8; border-radius: 5px; padding: 20px;}
.language-text p{text-indent: 0; color: #6c6c6c;}
.language-text p i{font-size: 24px; color: #fbc602; vertical-align: middle; margin-right: 4px;}
.language-box .btn-language{margin-left: 30px; font-weight: bold;}





@media (max-width: 767px){
	.language-box{padding: 10px 0 0;min-height: 300px;}
	.language-box .control-label.text-left{text-indent: 0;}
	.language-text{margin: 20px 0px 20px;}
	.language-box .btn-language{margin-left: 0;}
}