@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-10-01 17:59:30
 * @version $Id$
 */

pre{padding:0;font-size: 14px;background: transparent;border:0;border-radius:0;}
pre p,
p{text-indent:2em;}

.btn:hover, .btn:focus {color: #662276; text-decoration: none; }
.btn:active, .btn.active {outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active{color: #FFF; background-color: #662276;}

body{ background: url(../images/bg.png) top left repeat; line-height: 20px;}
a{color: #743383;}
a:hover{color: #743383; filter:alpha(opacity=80);  -moz-opacity:0.8;  -webkit-opacity: 0.8;  opacity: 0.8; }

header{background: #FFF;}
.head{padding: 20px 0; position: relative; z-index: 1001;}


.search{padding: 15px 0;}
.search button{background: #743383; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); color:#FFF;}
.search .form-group{width: 100%;}
.search .form-control{border-color: #dccce0;}
.search .form-control:focus {border-color: #743383;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(116, 51, 131, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(116, 51, 131, 0.6);
}

.logo img{max-height: 65px;}
.logo{padding:0;}

.nav-main {background: #743383; border: 0; border-top: 1px solid #461F4F; margin-bottom: 0; box-shadow: 0 1px 5px #461f4f inset; border-radius: 0 0 0 0;}
.nav-main ul{margin-top: 0; margin-bottom: 0; padding: 0;}
.nav-main .navbar-nav > li > a{ padding:15px 25px; color: #FFF; font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);}
.nav-main .navbar-nav > .active > a,
.nav-main .navbar-nav > .active > a:hover,
.nav-main .navbar-nav > .active > a:focus {color: #FFF;background-color: #5d206b; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);}
.nav-main .navbar-nav > li > a:hover,
.nav-main .navbar-nav > li > a:focus {color: #FFF;background-color: transparent;}
.nav-main .navbar-toggle .icon-bar {background-color: #FFF;}
.nav-main .navbar-collapse,
.nav-main .navbar-form {border-color: #5d206b;}
.nav-main .navbar-toggle {border-color: #743383;}
.nav-main .navbar-toggle:hover,
.nav-main .navbar-toggle:focus {background-color: #5d206b;}
.nav-last a{ padding:6px; background: url(../images/un_index_btnli_022.png) 86px 21px no-repeat; filter:alpha(opacity=45);  -moz-opacity:0.45;  -webkit-opacity: 0.45;  opacity: 0.45;}
.nav-last a:hover{ filter:alpha(opacity=80);  -moz-opacity:0.8;  -webkit-opacity: 0.8;  opacity: 0.8;}


@media screen and (min-width: 90px){
  .user{margin-top: 0px;}
  .search{padding-bottom: 0;}
  .form-group{margin-bottom: 0;}
}

header .user .dropdown-menu > span{ padding-left: 4px;}
header .user .dropdown-menu > span a{ color: #743383;}
header .nav{margin-top: 35px;}
header .user{display: block; color: #d9d9d9; float: right; margin-top: 15px; *padding-bottom: 20px; margin-bottom: 0;}
header .user dt,
header .user dd{float: left;}
header .user dt{margin-right: 10px;}
header .user .caret{border-top-color: #666; margin-top: -6px; *margin-top: 0px; margin-left: -5px;}
header .user,
header .user .dropdown > a{font-size: 14px;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {text-decoration: none;color: #ffffff;background-color: #743383;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {color: #ffffff;text-decoration: none;outline: 0;background-color: #743383;}
header .user .dropdown-menu{left: -102px; font-size: 12px;}
header .user .dropdown-menu a:link .glyphicon,
header .user .dropdown-menu a:visited .glyphicon{color: #3d4956;}
header .user .dropdown-menu a:hover .glyphicon{color: #fff;}
header .dropdown a{white-space: nowrap;}
header .dropdown-menu .divider{width: 100%; *margin:0;}
#dLabel > i {display: inline-block; font-style: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 50px;}



.carousel-indicators li{width: 14px; height: 14px; border: 2px solid #743383; background: #FFF; margin: 0 4px;}
.carousel-indicators .active{border: 2px solid #FFF; width: 14px; height: 14px; margin: 0 4px; background: #743383;}

.main{}
.main-box{border:1px solid #e0e0e0; background: #f5f5f5;margin-top: 10px; padding: 0;}
.left-box,
.right-box{ padding: 30px; background: #FFF;}
.left-box{box-shadow: 1px 0 4px #E0E0E0;border-right: #e0e0e0 solid 1px; min-height: 600px;}
.right-box{padding-left:20px; background: #f5f5f5;}
.module-box{padding-bottom: 20px;}

.title-box h2{margin: 0; padding-left: 20px; background: url(../images/un_index_btn.png) left top no-repeat; font-size: 14px; font-weight: bold;}
.title-box a{padding-right: 10px;color: #743383;}
.title-box .title-hr{height: 0;line-height: 0;font-size: 0; border-bottom: 1px solid #743383; margin: 6px 0 10px 0; filter:alpha(opacity=25);  -moz-opacity:0.25;  -webkit-opacity: 0.25;  opacity: 0.25;  }

.table-element {margin: 10px 0 0;}
.table-element thead tr th{ background: #743383; color: #FFF; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);border-bottom:0; padding: 8px 10px; font-weight: normal; font-size: 12px;}
.table-element.table-hover > tbody > tr:hover > td,
.table-element.table-hover > tbody > tr:hover > th {background-color:rgba(116,51,131,.05);}
.table-element tbody tr td{ font-size: 12px; padding: 6px 10px 2px; color: #666666; border-top: 1px solid rgba(116,51,131,.05); text-align: left;}
.table-element tbody tr td a{ display: inline-block; overflow: hidden; height: 20px;line-height: 20px;}
.table-element thead tr:first-child th:first-child,
.table-element tbody tr td:first-child{padding-left: 20px;}

.table-element1 thead tr th,
.table-element1 thead:first-child tr:first-child th{ border-top: 1px solid #dccce0; border-bottom: 1px solid #dccce0;}
.table-element1 thead tr th{background: #fdf5ff; color: #868686;  text-shadow: 0 0 0 rgba(0, 0, 0, 0.35);}


.career-talk .carousel-caption{ text-align: left; text-indent: 24px; width: 100%; left: 0; right: 0; bottom: 0; padding: 15px 0; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); text-shadow:none; min-height: 50px; }
.career-talk img{width: 100%;}
.career-talk .carousel-inner a{color: #FFF;}
.career-talk .carousel-indicators{ margin-left: 0; left: auto; right: 20px; bottom: 5px; width: auto;}

.careers-guidance{}
.careers-guidance ul{padding-left: 10px; font-size: 15px; color: #e2d8e4; list-style-position: inside;}
.careers-guidance ul li{ border-top: 1px solid #eaeaea; padding: 4px 0; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.careers-guidance ul li:first-child{border-top: 0;}
.careers-guidance ul li a{font-size: 12px;}

.school-recruit .table-element tbody tr td{ border-top: 1px solid #eaeaea;}

footer{margin:20px 0;}
.foot{background:#743383; padding: 20px 30px; border-radius: 2px 2px 2px 2px; color: #FFF; font-size: 12px; }
.foot span{filter:alpha(opacity=65);  -moz-opacity:0.65;  -webkit-opacity: 0.65;  opacity: 0.65; }
.foot span,
.foot a{color: #FFF; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); line-height: 22px; padding-right: 20px;  }
.foot a{padding-right: 0;}



/*** subpage ***/


.btn.purple{font-size: 18px; font-family: "microsoft yahei"; background: #743383; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); color:#FFF; padding:8px 36px;border:0;}

.pagination > li > a{margin-right: 10px;}
.pagination > li > a,
.pagination > li > span {background-color: rgba(116, 51, 131,.05);border: 1px solid rgba(116, 51, 131,.25); color: #743383;}
.pagination > li:first-child > a,
.pagination > li:first-child > span {margin-left: 0;border-bottom-left-radius: 0px;border-top-left-radius: 0px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span {border-bottom-right-radius: 0px;border-top-right-radius: 0px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {background-color: #ffffff;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {background-color: #743383; border-color: #743383;}


/*职位列表页*/
.job_list {margin-left: 10px;}


/*新闻列表*/

ul.ul-list{padding-left: 10px; font-size: 15px; color: #e2d8e4; list-style-position: inside;}
ul.ul-list li{ border-top: 1px solid #eaeaea; padding: 4px 0; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
ul.ul-list li:first-child{border-top: 0;}
ul.ul-list li a{font-size: 12px;}

.news-list .module-box{padding-bottom: 0;}

/*大学介绍*/
.school-introduce{}


/*公司详情*/

.detail-title-btn .btn{color: #743383; background-color: #FFF; font-weight: bold; padding: 6px 20px; margin-bottom: 20px; white-space: nowrap; box-shadow: none;}
.detail-title-btn .btn:hover{color: #FFF; background-color: #743383;}
.detail-title h3{font-size: 22px; font-family: "microsoft yahei"; margin-top:0;}
.company-logo{display: inline-block; text-align: right;}
.company-logo img{max-width: 100px;}
.detail-content{padding: 0 20px; font-size: 14px; line-height: 24px;}
.dl-horizontal{margin-bottom: 0;}
.dl-horizontal dd,
.dl-horizontal dt{line-height: 28px;}
.dl-horizontal dd{color: #333333; margin-left:0;}
.dl-horizontal dt{ color: #666666; width: 70px; text-align: left; font-weight: normal;}
.contact-way .dl-horizontal dt{color: #333333; width: 100px;}
.detail-content .dl-horizontal dd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 0;}


/*职位详情*/

.detail-title h4{ margin-top: 14px; margin-bottom: 0;}
.company-horizontal dl{margin-top:6px;}
.company-horizontal dl dd{width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-left: 0;}
.company-horizontal dl dt,
.company-horizontal dl dd{ clear: none; float: left;}
.job-detail-date-module {}
.job-detail-date-module span{color: #666666; font-size: 12px; border-right: 1px solid rgba(116, 51, 131, .25); padding: 0 10px;}
.job-detail-date-module span em{font-style: normal; padding-right: 6px;}

.detail-title-job-module,
.job-detail-date-module{border-bottom: 1px dashed rgba(116, 51, 131, .25);}

.description-module{padding-bottom: 50px;}
.description-text{margin-bottom: 30px; padding-top: 10px;}
#en_description{margin: 40px 0 15px; padding-bottom: 4px; font-size: 16px; font-family: "Microsoft YaHei"; color: #666666; border-bottom: 1px solid #DDDDDD; }
.detail-share{padding-top: 12px;}

