
/*---------------------------------------CSS Media Queries--------------------------------------------*/
@media screen and (max-width: 640px) {
 .wrap-container{ width: 100%;}
}

@media screen and (max-width: 480px) {
 header{  margin-bottom: 44px;}
.content-inner{margin: 20px 4px 80px;}
.header-logo{ bottom: -44px; padding: 0 10px 10px 20px; width: 100%;}
.header-logo h2{width: 200px;}
.header-logo figure{ width: 75px; height: 75px;}
.header-logo figure img{ border-radius: 2px;}
.header-logo .btn{ margin-top: 40px; float: right;}
.btn-lg { padding: 12px 4px; font-size: 12px; line-height: 1.33; border-radius: 4px;}
.header-logo h2{ margin: 4px 0 0 8px; font-size: 16px;}

.module-title h3{ font: 15px/30px "microsoft yahei";}
.module-content{padding-bottom: 15px; margin-bottom: 15px;}
.module-content p a{ font-size: 13px; line-height: 20px;}
.share-link{ width: 30px; height: 30px; line-height: 30px;}
.share-link i{ line-height: 30px; font-size: 16px;}
.suit-right .img-box{margin-bottom: 8px;}
.mark-img{ width: 60px;}
.price-box,
.price-box em{font-size: 13px;}

.nav-bootm{height: 60px; padding-left: 12%;}
.nav-bootm .mian-first { left: 5px; top: -15px; width: 10%;}
.mian-first img{width: 58px;}
.nav-bootm > li{ width: 12%;}
.nav-bootm > li > a{ font-size: 14px;}
.nav-bootm > li > i{ margin: 4px 0 2px; background-image: url(../images/nav-icon1.png); background-repeat:no-repeat; width: 19px; height: 19px;}
.nav-bootm > li > .nav-icon1{ background-position: left bottom;}
.nav-bootm > li > .nav-icon2{ background-position: -82px bottom;}
.nav-bootm > li > .nav-icon3{ background-position: -161px bottom;}

.nav-bootm > .current-active > .nav-icon1{ background-position: left top;}
.nav-bootm > .current-active > .nav-icon2{ background-position: -70px top;}
.nav-bootm > .current-active > .nav-icon3{ background-position: -161px top;}

.nav-bootm > li > ul{ bottom: 60px; padding: 10px 0; border-radius: 5px; background-color: rgba(248, 107, 159, 0.85);}
.nav-bootm > li > ul > li > a{ padding:6px 20px 6px 50px; white-space: nowrap; background: url(../images/more-icon.png) 20px 6px no-repeat;  background-size: 20px auto;color: white; font-size: 16px; line-height: 50px;}
.nav-bootm > li > ul > li > .list2{background-position: 20px -60px;}
.nav-bootm > li > ul > li > .list3{background-position: 20px -130px;}
}


@media screen and (max-width: 360px) {
 header{  margin-bottom: 30px;}
.header-logo{ bottom: -40px; padding: 0 10px 10px 20px;}
.header-logo h2{width: auto;}
.header-logo figure{width: 80px; height:80px;}
.header-logo figure img{ border-radius: 4px;}
.header-logo .btn{ margin-top: 40px;}
.btn-lg { padding: 4px; }
.header-logo h2{ font-size: 16px;}

.module-title h3{ padding: 2px 10px; font: 14px/24px "microsoft yahei";}
.module-content p a{ font-size: 12px; line-height: 12px;}
.price-box,
.price-box em{font-size: 12px;}

.nav-bootm{height: 50px; }
.nav-bootm > li > a{ font-size: 12px;}
.nav-bootm > li > i{ background-size: 150px auto; width: 20px; height: 20px;}
.nav-bootm > li > .nav-icon1{ background-position: left bottom;}
.nav-bootm > li > .nav-icon2{ background-position: -68px bottom;}
.nav-bootm > li > .nav-icon3{ background-position: -136px bottom;}

.nav-bootm > .current-active > .nav-icon1{ background-position: left 3px;}
.nav-bootm > .current-active > .nav-icon2{ background-position: -68px 3px;}
.nav-bootm > .current-active > .nav-icon3{ background-position: -136px 3px;}

.nav-bootm > li > ul{ bottom: 60px; padding: 10px 0; border-radius: 5px; background-color: rgba(248, 107, 159, 0.85);}
.nav-bootm > li > ul > li > a{ padding:6px 20px 6px 50px; white-space: nowrap; background: url(../images/more-icon.png) 20px 6px no-repeat;  background-size: 22px auto;color: white; font-size: 14px; line-height: 40px;}
.nav-bootm > li > ul > li > .list2{background-position: 20px -70px;}
.nav-bootm > li > ul > li > .list3{background-position: 20px -144px;}
}

