
a{color: #0063dc;}
a:hover,
a:focus{color: #0063dc;}

pre{padding:0;font-size: 14px;background: transparent; border:0;border-radius:0;}
pre p,
p{text-indent:2em;}



.wrap-inner{margin-top: 15px;}
.banner{ background-color: #fff; position: relative; *z-index: 0; margin-bottom: 10px; border-radius: 5px;}
.banner .carousel-indicators {height: 20px; right: 0; left: auto; margin-left:0; text-align: left; top: 86%; width: 100px;}
.banner .carousel-inner > .item{text-align: center;}
.banner .carousel-inner > .item > img{display: inline-block; min-height: 443px;}
.banner .carousel-indicators li{width: 12px; height: 12px; background: #3c4b6a; *float: left; margin: 5px; border: 2px solid #3c4b6a;}
.banner .carousel-indicators li.active{background: #ffffff;border: 2px solid  #303c54;}

.banner .banner_img1,
.banner .banner_img1 img,
.banner .banner_img2,
.banner .banner_img2 img,
.banner .banner_img3,
.banner .banner_img3 img{ border-radius: 5px;}

.module-left-content,
.module-right-content{ background-color: #FFFFFF; margin-bottom: 10px; border-radius: 5px; border-bottom: 3px solid #e3e4e8;}

.module-left-content{padding: 30px 30px 20px;}
.module-right-content{padding:25px;}

.module-table{color: #6c6c6c;}
.module-table thead > tr > th{ border-bottom: 1px solid #dcdcdc;background: #f9f9f9; font-size: 12px; font-weight: normal;color: #999999;}
.module-table thead > tr > th,
.module-table tbody > tr > th,
.module-table tfoot > tr > th,
.module-table thead > tr > td,
.module-table tbody > tr > td,
.module-table tfoot > tr > td{ border-top: 1px solid #dcdcdc;}
.module-table tbody > tr > td > div{color: #999999; padding:6px 0;display: inline-block;max-width: 280px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.module-table tbody > tr > td > img{max-width: 66px; margin-top: 6px;}
.module-table tbody > tr > td > a{ color: #6c6c6c;}
.module-table tbody > tr > td:first-child > a{ color: #0063DC; display: block;max-width: 280px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}



.index-title{border-bottom: 1px solid #a4c4ed;padding-bottom: 10px;*padding-bottom: 31px;}
.index-title-red{border-bottom: 1px solid #f6aab2;}
.index-title h4{height: 22px; min-width: 100px;margin-bottom: 10px;}
.module-right-content .index-title h4{min-width: 100px;}

.hu_shuffling{padding-top: 20px; padding-bottom: 10px;}
.hu_shuffling .thumbnail{margin-bottom: 5px; border-radius: 0 0 0 0; padding: 5px; border-color: #ececec;}
.hot-job h4{ background: url(../images/title.png) left -34px no-repeat; margin: 0;}
.hot-company h4{ background: url(../images/title.png) left -74px no-repeat; margin: 0;}
.hot-city h4{ background: url(../images/title.png) left -110px no-repeat; margin: 0;}
.hot-type h4{ background: url(../images/title.png) left -146px no-repeat; margin: 0;}
.hot-job .thumbnail,
.hot-company .thumbnail,
.use-ing .thumbnail{padding:5px 10px;}
.hot-type .thumbnail {border:none; padding: 0;}
.hot-type .thumbnail img {border:none; padding: 0; border-radius: 3px;}


.hot-city .hu_shuffling .thumbnail{margin-bottom: 0px; padding: 0; border: none; }
.hu_shuffling .thumbnail img{width: 100%;}
.hu_shuffling p{text-align: center; margin-bottom: 15px; text-indent: 0;}
.hot-city .hu_shuffling p{text-align: left;}
.hu_shuffling p a{display: block;overflow: hidden;white-space: nowrap; text-overflow: ellipsis; }
.gongcheng a{ color: #f3453d;}
.diangong a{ color: #31aae1;}
.guanli a{ color: #e36632;}
.canyin a{ color: #f06e12;}
.jiudian a{ color: #4c9553;}
.huawuyuan a{ color: #43a7b5;}


.carousel-indicators li{border:2px solid #4a89dc; *float: left; margin-right: 1px;}
.carousel-indicators .active{background: #4a89dc;height: 10px;width: 10px;margin: 1px;}
.carousel-indicators{top: -28px;left:0;text-align: right;margin-left: 0; *margin-left: 93%;width: 99%; *width: 45px; height: 20px;}


.top-500{margin-bottom: 30px;}
.top-500 .btn-danger{border-radius: 5px; border-color: #ed5565; width: inherit; background: #ed5565 url(../images/title.png) center -212px no-repeat; margin:0; text-shadow:none;}
.top-500 .btn-danger:hover,
.top-500 .btn-danger:focus,
.top-500 .btn-danger:active{color: transparent; background-color: #e14043;border-color: #ec4548;}
.btn-pad{padding-left: 45px;padding-right: 45px; font-family: "Microsoft YaHei"; }


.lang-en .hot-job h4,
.lang-en .hot-company h4,
.lang-en .hot-city h4,
.lang-en .hot-type h4,
.lang-en .top-500 .btn-danger{ background-image: url(../images/title-en.png)}

.sign-box{background: #FFF;}
.cnjobs-passport-icon{background: url(../images/cnjobs-passport.png) right center no-repeat; margin-bottom: 20px; display: inline-block;width: 65px; height: 18px; float: right; }
.in-name,
.in-email,
.in-password{padding-left: 38px;font-size: 14px;}
.sign-box .input-lg{padding-left: 38px;}

.in-name,
.in-name.text-error{background: url(../images/register-grey.png) 15px 13px no-repeat;}
.in-email,
.in-email.text-error{background: url(../images/register-grey.png) 15px -41px no-repeat;}
.in-password,
.in-password.text-error{background: url(../images/register-grey.png) 15px -97px no-repeat;}

.sign-box .text-error:focus,
.sign-box .text-error:focus,
.sign-box .text-error:focus {
  border-color: #ed5153;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ed5153;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ed5153;
}

h2.register-box-title{background: url(../images/title.png) left top no-repeat; height: 18px; margin: 0 0 20px;}
.lang-en h2.register-box-title{background-image: url(../images/title-en.png);background-position: left top;}
h2.login_title{background: url(../images/title.png) left -331px no-repeat; height: 22px; margin: 0 0 20px;}
.lang-en h2.login_title{ background: url(../images/title-en.png) left -332px no-repeat;}
h2.login_finish_title{ background: url(../images/title.png) center -369px no-repeat; height: 31px; margin-bottom: 20px;}
.lang-en h2.login_finish_title{ background: url(../images/title-en.png) center -369px no-repeat; height: 31px; margin-bottom: 20px;}


.sign-box .form-group{margin:0 0 10px;}
.register_share span{padding-top: 6px; display: inline-block;}
.register_share {padding-bottom: 20px;}
.register_share a{ display: inline-block;margin-right: 10px; width: 32px; height: 32px;}
.register_share a:hover{ opacity: 0.80; filter: alpha(opacity=80);}

.register_share .register-sina{ background: url(../images/share-bg.png) -85px center no-repeat; float: left; }
.register_share .register-renren{ background: url(../images/share-bg.png) -43px center no-repeat; float: left; }
.register_share .register-qq{ background: url(../images/share-bg.png) left center no-repeat; float: left; }
.register_flower_border{width: 100%; height: 9px; margin: 20px 0; background: url(../images/register_flower_border_03.png) center top no-repeat; clear: both;}

.btn-sign-in{width: inherit; margin-bottom: 10px;}
.sign-link{margin-top: 10px; text-align: right;}
.sign-link a,.sign-up-link a{text-decoration: underline;}
.sign-link a:hover{opacity: 0.80; filter: alpha(opacity=80);}
.sign-link-password a{text-decoration: none;}

.login_after{padding: 0 26px;}
.login_after table{margin-bottom: 35px;}
.login_after table tr i{display: inline-block;height: 16px; width: 16px; vertical-align: middle; margin-right: 12px;}
.login_after table tr td{border-top: 1px solid #e9eef3; padding: 6px 0; text-align: left;}
.login_after table tr:first-child td{border-top:0;}
.jianli_bt{background: url(../images/login_after_12.png) center top no-repeat;}
.apply_for{background: url(../images/login_after_12.png) center -20px no-repeat;}
.collection{background: url(../images/login_after_12.png) center -40px no-repeat;}
.focus_bt{background: url(../images/login_after_12.png) center -60px no-repeat;}
.btn-jianli-box{width: 100%;}
.btn-jianli-box .btn-danger {border-radius: 5px; color: #ffffff; border-color: #ed5565; width: inherit; background: #ed5565; margin:0;}
.btn-jianli-box .btn-danger:hover,
.btn-jianli-box .btn-danger:focus,
.btn-jianli-box .btn-danger:active{background-color: #e14043;border-color: #ec4548; color: #FFFFFF;}
.register_fbottom{color: #8D8D8D; text-align: center;}


@media screen and (orientation:portrait) {
    .sign-link{text-align: left;}
}/*手机竖屏*/

@media (max-width: 1023px){
	.module-left-content{padding: 14px 14px 0;}
	.module-right-content{padding: 14px;}
	.register_flower_border{margin: 10px 0;}
	.module-table tbody > tr > td{ padding: 4px;}
	.module-table tbody > tr > td > div{padding: 0;}
	.top-500{margin-bottom: 15px;}
}

@media (min-width: 767px) and (max-width: 1023px) {
	.cnjobs-passport-icon{background: url(../images/cnjobs-passport.png) left center no-repeat; float: left; }
	
}/*ipad竖屏*/

@media(max-width: 1024px) {
	h2.register-box-title{margin: 0 0 5px;}
	h2.login_title{ margin: 0 0 5px;}
	h2.login_finish_title{ margin-bottom: 5px;}
	.register_share span{padding-bottom: 5px;}
	.register_flower_border{margin: 15px 0 10px;}
	.sign-link{text-align: left;}
}/*ipad竖屏 手机竖屏和横屏*/

@media(max-width: 1023px) {
	.btn-sign-up{width: inherit;}
	.hot-job .thumbnail,
	.hot-company .thumbnail,
	.use-ing .thumbnail{padding:4px}
}/*ipad竖屏 手机竖屏和横屏*/


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {

	.top-500 .btn-danger,
	h2.register-box-title,
	h2.login_title,
	h2.login_finish_title,
	.hot-job h4,
	.hot-company h4,
	.hot-city h4,
	.hot-type h4{ background-image: url(../images/title-2x.png); background-size: 260px 400px;}

	.lang-en .hot-job h4,
	.lang-en .hot-company h4,
	.lang-en .hot-city h4,
	.lang-en .hot-type h4,
	.lang-en .top-500 .btn-danger,
	.lang-en h2.register-box-title,
	.lang-en h2.login_title,
	.lang-en h2.login_finish_title{ background-image: url(../images/title-en-2x.png); background-size: 260px 400px;}
	.cnjobs-passport-icon{background-image: url(../images/cnjobs-passport-2x.png); background-size: 65px 13px;}


	.in-name{background-image: url(../images/register-grey-2x.png); background-size: 15px 126px;}
	.in-email{background-image: url(../images/register-grey-2x.png); background-size: 15px 126px;}
	.in-password{background-image: url(../images/register-grey-2x.png); background-size: 15px 126px;}

	.register_share .register-sina{ background-image: url(../images/share-bg-2x.png); background-size: 117px 32px;}
	.register_share .register-renren{ background-image: url(../images/share-bg-2x.png); background-size: 117px 32px;}
	.register_share .register-qq{ background-image: url(../images/share-bg-2x.png); background-size: 117px 32px;}

}









