
.main-box{border:1px solid #e0e0e0; background: #FFF;margin: 10px 0;padding:25px 25px 0;}

.subinfor{font-size: 14px;line-height: 155%;}
.subinfor .dt {
    color: #555555;
    font-weight: bold;
    text-align: right;
}

@media (max-width: 768px){
	.subinfor .dt {text-align: left;}
}

.subinfor .dd {
    color: #ccc;
    padding-bottom: 15px;
}
.subinfor .dd a{
    display: inline-block;
    padding-left: 4px;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.subinfor span {
    color: #aaa;
    font-weight: normal;
    padding:0 8px;
}