

.wrap{margin-top: 10px; font-size: 12px; line-height: 20px;}
.module{margin-bottom: 20px;}
.left,.right{background-color: #FFF;}


.left .panel-group .panel-default{margin-top: -1px; border-radius:0; background-color: #FFF;}
.left .panel-group .panel-default:first-child{margin-top: 0;}
.left .panel-group .panel-default .panel-heading{ background-color: #FFF;}
.left .panel-default > .panel-heading:hover{ background-color: #F5F5F5; text-decoration: none; }
.left .panel-group .panel-default > .active{ background-color: #51aded; border-radius:0 0 0;}
.left .panel-group .panel-default > .panel-heading a:focus,
.left .panel-group .panel-default > .panel-heading a:active,
.panel-group .panel-default > .panel-heading a:hover{outline: none; text-decoration: none;}
.left .panel-group .panel-default .active h4 > a{ color: #FFF;}
.left .panel-group .panel-default .panel-title > a{ display: inline-block;width: 100%; font-size: 14px; line-height: 20px; color: #666666;}
.left .panel-body{padding:0;}
.left .panel-body ul{padding-left:0; list-style: none;}
.left .panel-body ul li a{ display:block; padding: 6px 20px; color: #999999; }
.left .panel-body ul li a:hover{ background-color: #F5F5F5; text-decoration: none; }
.left .panel-body ul li.active a{ color: #51aded;}

.module-other-right{padding: 20px 30px; min-height: 600px; margin-bottom: 20px; border: 1px solid #DDDDDD;border-radius:0 0 0; color: #555555;}
.module-other-right p{ line-height: 24px;} 
.module-other-right > h3{ font: 16px/24px Arial,"黑体"; color: #51aded; margin: 0 0 30px; border-bottom: 1px solid #51aded;}
.module-other-content h4{ font:14px/20px Arial,"microsoft yahei"; color: #428BCA;}
.module-other-content h4 span{ font:16px/20px Arial,"黑体"; color: #428BCA;}

.module-other-user p{ overflow: hidden; text-overflow: ellipsis; text-align: center; text-indent: 0; margin-bottom: 0;}
.module-other-user .thumbnail{margin-bottom: 15px;}
.module-other-content .text-center .img-responsive{display: inline-block;}

.partners{padding-bottom: 10px;}
.partners h4 img{ margin-right: 10px;}

.consultant-team{clear: both; padding-bottom: 30px;}
.consultant-team img{margin-right: 15px;}
.consultant-team h4{margin-top: 0;}
.consultant-team span{padding-right: 15px; float:left;}

.text_name{color: #1F4664; font: 14px/18px "microsoft yahei"; margin-top: 10px;}
.other-team-box{min-height: 600px; margin-top: 40px;}
.other-team .thumbnail{margin-bottom: 10px; border: none; }
.other-team .thumbnail:hover { border: none; opacity:0.6;filter: alpha(opacity=60);}
.other-team .thumbnail:focus{outline: none;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: #dddddd;}
.other-team  .tooltip-inner{ background: #ffffff; color: #555555; width:800px; border:1px solid #DDDDDD; text-align: left;}
.other-team  .tooltip-inner h4{text-align: center;}

.module-other-vip{padding-bottom: 30px;}
.module-other-vip .thumbnail{margin-bottom: 10px;}
.module-other-vip p {overflow: hidden; text-overflow:ellipsis; text-indent: 0;text-align: center;}
.module-other-vip p a{ white-space: nowrap; color: #555555;}

.module-case1 p{color: #DD6B37; margin-bottom: 0;}
.module-case1{ padding-bottom: 10px; border-bottom:1px dotted #7C7C7C;}
.module-time ul{padding-left: 20px;list-style: disc outside none;}
.module-domain-list ul{padding-left:8px;}
.module-domain-list li{overflow: hidden; text-overflow:ellipsis;}
.module-domain-list li a{white-space: nowrap;}
.module-result-other ol{padding-left: 20px;}

.module-ganyan{font: 12px/20px Verdana,Geneva,Tahoma,sans-serif,"宋体"; border-bottom: 1px solid #DDDDDD; padding-bottom: 20px;}
.module-ganyan:last-child{border-bottom: 0;}
.module-ganyan > p{text-indent: 0;}
.module-ganyan > p,.module-ganyan em{color: #39638B;}

.module-dynamic h4{font-size: 16px;}
.module-dynamic p {height: 50px; overflow: hidden;}
.module-dynamic .caption{border-bottom: 1px dashed #DDDDDD; padding-bottom: 20px;}
.module-other-content .caption h4 span{float: right; font-size: 14px; color: #888888;}

.module-media table th,.module-media table td{text-align: left;}

.module-faq ul{margin-bottom: 20px;}
.module-faq p{text-indent: 0;}
.module-faq ol li{padding-bottom: 10px;}
.module-faq h5{font-size: 14px;font-family: "黑体"; margin: 0 0 8px; color: #333333;}



/*百度地图*/
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

.other-contact-way p{ text-indent: 0;}
.other-contact-way h3{ font-size: 20px;font-family: "黑体";}
.other-contact-way h3 a:hover,.other-contact-way p a{text-decoration: none;}
.other-address{margin: 30px 0 10px;}



.module-join-us h3 {font: 24px/24px "黑体";margin: 0 0 20px;}
.module-join-us .text_orange {color: #F9701F;}
.module-join-us span {color: #F51741;}

.module-join-us h4 {color: #898787; font-family: Arial,"黑体"; font-size: 20px; font-weight: normal;}
.module-join-us h4 em {color: #898787; font: 20px/24px "汉仪中圆简","microsoft yahei"; margin-right: 8px; padding-right: 8px; border-right: 1px solid #898787;}
.module-advantage{ padding: 0 15px; border-right: 1px dotted #429BD7; border-left: 1px dotted #429BD7;}

.articl-detail-box {border: 1px solid #DDDDDD;border-radius: 4px;min-height: 550px;background-color: #FFFFFF;padding: 30px; margin-bottom: 30px;}
.articl-detail-title{font-family: "microsoft yahei"; margin-bottom: 20px;}