
.back-wrap-inner{margin-bottom: 100px; padding: 0; margin-top: 0; border-top:0;}
.module-bg-white{ padding:20px 20px 30px; margin-bottom: 10px; background:white; border: 1px solid #eeeeee; border-left: 0; border-right: 0;}
.module-bg-white2{ padding:20px 20px 30px; margin-bottom: 10px; background:white; border: 1px solid #eeeeee;}
.module-color-white{background: white;}
.module-title2 h3{ margin: 0; font-size: 26px; font-weight: normal;S}
.module-title2 h3 i{ margin-right: 8px;}
.title-link{ font: 21px/40px "microsoft yahei";}
.title-link i{ margin-left: 10px; font-size: 28px;}
.module-pull{margin-top: 50px;}
.show-imgbox-no{border:2px dashed #eeeeee;}
.show-imgbox-yes{border:2px solid #eeeeee;}

.mini-imgbox {margin-top: 50px;} 
.mini-imgbox ul{margin: 0; list-style: none; width: 100%；}
.mini-imgbox ul li{ position: relative; margin:0 5px 5px 0; padding: 0; border:2px dashed #eeeeee;}
.mini-imgbox ul li:focus,
.mini-imgbox ul li:hover,
.mini-imgbox ul li:active{ border:2px solid #f86b9f;}
.mini-imgbox ul li i{ position: absolute;left: -10%; top: -20%;display: inline-block; width: 28px; height: 28px; background:url(../images/delate.png) center center no-repeat transparent; background-size: 24px auto;}
.mini-imgbox ul li img{ width: 100px;}
.mini-imgbox ul li.add-link a{ display: block;}


.upload-img {margin-top: 50px;} 
.upload-img ul{margin: 0; list-style: none; width: 100%；}
.upload-img ul li{ position: relative; margin:0 5px 5px 0; padding: 4px; border:2px solid #eeeeee; border-radius: 5px;}
.upload-img ul li:focus,
.upload-img ul li:hover,
.upload-img ul li:active{ border:2px solid #f86b9f;}
.upload-img ul li i{ position: absolute;left: -5%; top: -8%;display: inline-block; width: 28px; height: 28px; background:url(../images/delate.png) center center no-repeat transparent; background-size: 24px auto;}
.upload-img ul li img{ width: 180px;}
.upload-img ul li.add-link{ border:2px dashed #eeeeee; background-color: #f6f8fa;}
.upload-img ul li.add-link a{ display: block; }
.module-title2 small{ font: 18px/40px "microsoft yahei"; color: #b7bbc2;}

.goods-describe { margin-top: 20px;}
.goods-describe textarea{ width: 100%; padding: 0;  min-height: 60px; font: 22px/34px "microsoft yahei"; color: #676767; border:0; box-shadow: none;}
.module-formbox{margin-top:10px; }
.module-formbox form{margin-bottom:0; }
.module-formbox input{width:60%; margin-right: 10px;}
.module-formbox input,
.module-formbox .help-inlinetext { font-size: 21px; height: 34px; line-height: 34px;}
.module-uploadimg{position: relative;}
.module-uploadimg .title-link{position: absolute; bottom: 2%; white-space: nowrap;}




/*-------------------------------Css Bootm btn---------------------------------*/
.bottom-btnbox{ padding: 20px 0; background-color: #f2f1f1; text-align: center; border: 1px solid #eeeeee; border-left: 0; border-right: 0;}
.bottom-btnbox .btn{ font-size: 24px; margin-right: 20px; width: 208px;}
.bottom-btnbox .btn:last-child{ margin-right: 0;}
.bottom-btnbox .btn i{ margin-right: 10px;}
.bottom-btnbox form{margin: 0;}

/*-------------------------------Css Search result---------------------------------*/
.module-search-ele{padding: 10px 10px 0;}
.goods-box{margin-bottom: 10px; position: relative; border:1px solid #eeeeee; background: white;}
.goods-box > a{position: relative; display:block;}
.goods-box .goods-text { padding: 10px;}
.goods-box .goods-text a{ display: inline-block; margin-bottom: 10px; font-size: 21px; line-height: 30px;}
.goods-price{ position: absolute; bottom: 0; left: 0; width: 100%; color: white; line-height: 40px; font-size: 24px; text-indent: 10px; background-color: rgba(202, 200, 201, 0.80);}
.goods-text .btn {font-size: 21px;}

/*-------------------------------Css Goods Search---------------------------------*/
.wrap-goodssearch{margin: 0;}
.module-searchinput{ padding: 10px 20px;}
.module-searchinput form{ margin: 0;}
.module-searchinput input{ width: 80%; height: 50px;font: 24px/50px "microsoft yahei"; text-indent: 44px;}
.module-searchinput .btn{ background:white; color: #F86B9F; padding: 18px 24px; font-size: 22px;}
.bg-img{background:url(../images/search.png) 10px center no-repeat transparent;}
.module-tab .nav-tabs { margin: 0; background: white; width: 100%;}
.module-tab .nav-tabs > li > a{padding: 20px 32%; white-space: nowrap; border: 0; border-radius: 0; font-size: 24px;}
.module-tab .nav-tabs > .active > a,
.module-tab .nav-tabs > .active > a:hover,
.module-tab .nav-tabs > .active > a:focus{border: 0;}
.search-condition{padding: 30px 0 30px 30px;}
.search-condition > a{ display: inline-block; margin: 0 30px 30px 0; padding: 16px 30px; color: #abadb3; border:2px  solid #f86b9f; background-color: white; font-size: 24px; border-radius: 4px; }

/*------------------------弹出选择---------------------------*/
.popup-menu{padding: 40px;}
.popup-menu > a{ padding: 20px 0; margin-bottom: 20px; display: block; text-align: center; border:1px solid #e3e4e8; background: white; color: #676767;}
.popup-menu > .btn{ padding: 20px 0; }








/*----------------------------------------------------------------*/

.p-detail {
  margin: 10px 20px 10px;
}
.p-title {
  color: #5E5E5E;
  padding: 0 20px 20px;
}
.p-title h4{}
.p-price {
  margin-top: 5px;
}
.wx-price {
  float: left;
}
.wx-price h4 {
  color: #DBDDDE;
  font-weight: lighter;
}
.wx-price h4 span {
  color: #F16498;
}
.wx-price h5 {
  color: #DBDDDE;
  text-decoration:line-through;
  font-weight: normal;
}
.p-dapei {
  float: right;
  margin-right: 10px;
  padding-right: 10px;
}

/*product exist html*/
.p-list {
   padding: 15px 0;
   border-bottom: 1px solid #ccc;
   width: 100%;
}

 .p-list-first {
   padding-top: 0;
 }
 .p-list-last {
   border-bottom: none;
 }
 .p-pic {
   border: 1px solid #ccc;
   padding: 5px;
 }
 .p-info {
  margin-left: 25px;
 }
 .p-dp-price {
   text-decoration:line-through;
   font-size: 15px;
   margin-left: 50px;
 }
 .p-price1 {
  width: 100%;
  margin-top: 10px;
 }
 .p-price1 span {
  color: #DBDDDE;
  /*font-size: 17px;*/
  padding-right: 30px;
 }
/*  .p-price1 span:first-child {
  font-size: 24px;
 }*/
 .p-price1 span:first-child em {
  color: #f86b9f;
 }
  .p-price1 span:last-child{text-decoration: line-through;}
/*  .p-price1 span:last-child em {
  font-size: 18px;
 }*/
 .p-price1 span em{font-style: normal;}
 .p-wx-price {
   color: #F16498;
 }
 .buttons {
   margin-top: 20px;
 }
 .buttons button {
   width: 80px;
 }
 .button-select {
   margin-left: 25px;
 }

 /*combos show*/
 .module-common {
     padding: 5px 10px;
     background-color: #faf9f9;
   }
   .combos-product {
     background-color: #fff;
     border: 1px solid #ccc;
     padding: 3px;
     text-align: center;
   }
   .combos-product p {
    text-align: left;
    padding-left: 7px;
    color: #cacdd1;
    font-weight: normal;
   }
   .combos-product a {
     width: 70%;
   }
   .combos-share-btns {
     background-color: #f2f1f1;
     border-top: 1px solid #dddddd;
     margin-top: 10px;
     padding: 10px 0;
     text-align: center;
   }
   .combos-share-btns a {
     margin: 0 20px;
     width: 27%;
   }
   .module-share {
     background-color: #faf9f9;
   }
