/*----------------------------Common Css------------------------------*/

/*..........购卡成功.........*/
.module-white{background: white;}

.module-user-card{ padding: 20px;}





/*----------------------------Mobile Css------------------------------*/
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}

/*..........购卡成功.........*/
.module-user-card{padding: 5px;}









