/*----------------------------Common Css------------------------------*/
/*..........设置支付密码.........*/
.form-padding { padding: 30px;}
.module-form input[type="text"]{ height: 60px; line-height: 60px; font-size: 22px;}/**/
.module-set-password input{font-family: "microsoft yahei";}
.module-set-password .h4-txt{ margin: 0 10px 10px;}
.set-button{margin-top: 80px;}
.module-set-password .form-defined h1{margin: 0 20px  20px;}
/*..........绑卡.........*/
.ol-list li{ list-style-position: inherit; line-height: 36px;}

.module-card-img { padding:40px;}
.module-card-img img{margin: 0 auto; display: block;}
.module-remaining{ padding:20px 40px 40px; }
.module-remaining h1{ font-size: 36px; margin: 20px 0 30px;}
.module-remaining .no-bingding{ font-size: 30px; margin-top: 30px;}

.module-user-change{}
.module-user-change ul{ margin: 0; list-style: none;}
.module-user-change ul li a{ display: block; line-height: 40px; padding: 28px 40px 28px 100px; border-bottom: 1px solid #eeeeee; background-position: 40px top; background-repeat: no-repeat;}
.module-user-change ul li .popup-menu1{background-position: 40px 22px;}
.module-user-change ul li .popup-menu2{background-position: 40px -126px;}
.module-user-change ul li .popup-menu3{background-position: 40px -270px;}
.module-user-change ul li .popup-menu4{background-position: 40px -426px;}
.module-user-change ul li a i:first-child{ float: left;}
.module-user-change ul li a span{float: left;}
.module-user-change ul li a i:last-child{float: right;}
.btn-already{ padding-bottom: 20px;}

/*..........购买礼品卡.........*/
.form-label label{font-size: 26px; line-height: 30px; margin: 0 30px 15px;}
.form-label .txt1,
.form-label label{ display: block; margin-bottom: 15px;}
.form-label .txt1{margin-bottom: 30px;}
.form-label label input[type="radio"]{ margin-top: 8px;}
.form-label label.checkbox{ margin: 60px 0 80px;}


/*..........购卡成功.........*/
.module-user-card{ padding: 20px;}
.module-table-box{margin-bottom: 80px;}
.module-table-box table tr td{ font-size: 30px; line-height: 50px;}
.module-btn .btn{ margin-right: 20px;}
.module-btn .btn:last-child{ margin-right: 0;}
.module-notice {margin: 40px 0 60px;}
.module-notice ol{list-style-position: inside; margin: 0;}
.ol-list{ margin-bottom: 80px;}
.module-notice ol li{margin-bottom: 15px; font-size: 22px; line-height: 30px;}
.module-card-scan .module-notice ol li{margin-bottom: 15px; font-size: 22px; line-height: 30px;}

/*------------验证码------------------*/

.verify-code { padding: 70px 40px}
.verify-code .next-btn{ margin-top: 80px;}
.verify-code .form-defined{margin-top: 35px;}
.verify-code-txt{text-align: center; }

/*-------------------------------------Card-----------------------------------------*/
.module-card{ padding: 60px 40px 20px; margin-bottom: 100px; background-position: center top; background-repeat: no-repeat;}
.module-card h1{ font-size: 32px;margin-top: 0;}
.module-card-posi{ position: relative; padding: 60px 40px 0; min-height:820px; background-position: center -20px; background-repeat: no-repeat;}
.module-card-scan{ position: relative; padding: 60px 40px 20px; margin-bottom: 0; height:auto; background-position: center -20px; background-repeat: no-repeat;}
.module-card-info{margin-bottom: 0;}
.posi-txt{ padding: 20px 40px 0; }
.txt-money em{ font-style: normal;}
.card-form-box{padding: 30px; margin-bottom: 40px; }
.card-form-box input,
.card-form-box textarea {font-family: "microsoft yahei";}
.card-notice{margin: 10px;}
.card-form-box .fa{ margin-right: 4px;}
.card-form-box .defined-small{ margin-bottom: 20px;}
.card-wrap{ margin: 60px 0 20px;}
.btn-scan{margin-top: 100px;}
.barcord-box{ position: relative; text-align: center;}
.barcord-box .bar-code{ position: absolute; bottom: 80px; left: 50%; right: 0px; margin-left: -66px;}
/*---------------------------------Tranding Success--------------------------------------------*/
.module-tranding{padding: 30px;}
.module-record td p{margin-bottom: 0;}
.module-tranding .nav-tabs{ border-radius: 5px; margin-left: -30px;}
.module-tranding .nav-tabs li a{ padding: 18px 8px;}
.module-tranding .nav-tabs li a:hover{ background: white;}
.module-tranding .nav-tabs li a,
.module-tranding .nav-tabs li.active a{margin: 0; font-size: 30px; line-height: normal; text-align: center; border:0;  border-radius: 0;}
.module-tranding .nav-tabs > li.active{margin-bottom: 0; border:0;}
.module-tranding .nav-tabs li{
  width: 50%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.module-tranding .btn-line{margin: 10px 0;}
.module-tranding .btn-line .btn{margin-right: 5px;}



/*----------------------------Mobile Css------------------------------*/
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 580px) {
/*..........购卡成功.........*/
.module-user-card{padding: 10px 5px 10px;}
.module-table-box{margin-bottom: 40px;}
.module-table-box table tr td{ font-size: 14px; line-height: 22px;}
.module-notice {margin: 20px 10px 40px;}
.module-btn .btn{ margin-right: 10px;}
.module-notice ol li{margin-bottom: 5px; font-size: 13px; line-height: 20px;}
.module-card-scan .module-notice ol li{ font-size: 13px; line-height: 20px; margin-bottom: 0;}
.module-form input[type="text"]{ height: 40px; line-height: normal; font-size: 15px;}
.module-form .control-group{ margin-bottom: 10px;}

.form-padding { padding: 10px 5px;}
.ol-list{ margin-bottom: 30px;}
.ol-list li{ line-height: 20px;}
.form-block-label .form-label label{font-size: 15px; line-height: 22px; margin: 0 10px 5px;}
.form-label .txt1,
.form-label label{  margin-bottom: 10px;}
.form-label label input[type="radio"],
.form-label label input[type="checkbox"]{ margin-top: 4px;}
.form-label label.checkbox{ margin: 20px 0 30px 10px;}

.module-card-img,
.module-remaining{ padding: 10px 10px 20px;}
.module-remaining h1{ margin: 0 0 10px; font-size: 18px;}
.module-remaining .no-bingding{ font-size: 16px; line-height: 24px; margin: 10px 0;}
.module-user-change ul li a{font-size: 16px; line-height: 24px;padding: 14px 20px 14px 45px; background-size: 18px auto;}
.module-user-change ul li .popup-menu1{background-position: 20px 14px;}
.module-user-change ul li .popup-menu2{background-position: 20px -52px;}
.module-user-change ul li .popup-menu3{background-position: 20px -116px;}
.module-user-change ul li .popup-menu4{background-position: 20px -186px;}
/*------------验证码------------------*/
.verify-form1 .btn{padding: 2px 8px;}
.verify-form .sub-btn {width: 70%;font-size: 16px;}
/*-------------------------------------Card-----------------------------------------*/
.module-card{ padding: 10px 20px 20px;/* height:550px; */ background-size: 100% auto;}
.module-card h1{ font-size: 18px;}
.card-form-box{padding:15px 5px;}
.card-form-box .defined-small{ margin-bottom: 10px;}
.card-form-box .car-notice,
.card-form-box form{ margin-bottom: 10px;}
.card-form-box  .defined-small [class*="col-"] input,
.card-form-box textarea,
.card-form-box .defined-small label[class*="col-"] { font-size: 14px;}
.module-user-card h1{ background-size: 32px auto;}
.module-card-scan{height: auto;}
.card-wrap{ margin-top: 30px;}
.module-card-scan .card-wrap{ margin-top: 10px;}
.btn-scan{margin-top:0;}
.barcord-box .bar-code{ bottom: 4%;}
/*---------------------------------Tranding Success--------------------------------------------*/
.module-tranding{padding: 5px 0 5px;}
.module-tranding .nav-tabs{ border-radius: 2px; margin:0;}
.module-tranding .nav-tabs li a{ padding: 8px;}
.module-tranding .nav-tabs li a,
.module-tranding .nav-tabs li.active a{font-size: 16px;}
.module-tranding .btn-line .btn{ font-size: 14px; padding: 4px 16px;}
}



@media screen and (max-width: 480px) {
	.module-card{margin-bottom: 80px;}
	.module-card-scan{margin-bottom: 0;}
	.module-card-posi{min-height: 430px;}
	.module-card-info{height: 340px;}
	.module-card-scan{min-height: 320px;}
	.posi-txt{padding: 20px 15px 0;  line-height: 20px;}
}

@media screen and (max-width: 320px) {
}






