@media screen and (max-width: 640px) {
	footer{width: 100%;}
 	.btn-share0{ padding: 14px 19px;}
}

@media screen and (max-width: 580px) {
.bottom-caret .caret{left: 56%;}
.nav-fixed{width: 100%;}
/*---------------------------------Css Back-end-------------------------------------*/
.btn-share0{ font-size: 16px; margin-top: 0;}
.title-link{ float: right; font-size: 12px; line-height: normal; font-family: "microsoft yahei";}
.title-link i{ margin-left: 5px; font-size: 14px;}
.mini-imgbox ul li{width: 17.9%;}
.module-title h3{ padding: 0 10px; margin-top: 5px; font: 15px/32px "microsoft yahei";}
.module-pull{margin-top: 15px;}
.mini-imgbox {margin-top: 25px;}
.mini-imgbox ul li i{ position: absolute;left: -10%; top: -16%;display: inline-block; width: 22px; height: 22px; background-position: center center;background-repeat: no-repeat; background-size: 22px auto;}
.upload-img {margin-top: 25px;}
.upload-img ul li{ margin-right: 5px; width: 29.7%;}
.upload-img ul li i{ left: -6%; top: -8%; width: 18px; height: 18px; background-position:center center; background-repeat: no-repeat; background-size: 18px auto;}
.form-box form .help-inline{ width: 32%; font-size: 16px; line-height: 30px;}
.form-box .form-textframe{ line-height: 30px; height: 30px;}
.form-box form select{ line-height: 30px; height: 30px;}
.block-box{margin-top: 20px;}
.img-posi img.mark-img{width: 70px;}
.suit-right .img-box{ display: block;}
/*------------------Css Search Result---------------------*/
.goods-box {margin-bottom: 5px;}
.goods-box .goods-text { padding: 5px;}
.goods-box .goods-text > a{margin-bottom: 10px; font-size: 13px;}
.goods-price{line-height: 24px; font-size: 13px;}
.goods-text .btn {padding: 4px 0; font-size: 12px; border-radius: 2px;}

.p-title{padding: 0 5px 15px;}
.p-title h3{ margin: 0;}
.p-title h4{ margin-bottom: 5px;}
.p-price1 span {padding-right: 10px;}
.p-price1{margin: 0 0 5px;}
.button-select {margin-left: 10px;}
.module-common{padding: 10px;}

/*------------------Css Goods Search---------------------*/
.wrap-goodssearch{margin: 0;}
.module-searchinput{ padding: 6px;}
.bg-img{ background-size: 14px auto;}
.module-tab .nav-tabs > li > a{padding: 6px 0; font-size: 14px;}
.module-searchinput .form-defined input{ margin: 0; font-size: 14px; padding-left: 28px;}
.module-searchinput .btn{ padding: 6px 12px; font-size: 14px;}
.search-condition{padding: 10px 0 10px 10px;}
.search-condition > a{ margin: 0 10px 10px 0; padding: 4px 10px; border-width: 1px; font-size: 14px; border-radius: 2px; }

/*------------------vericode---------------------*/
.verify-code { text-align: center; padding: 50px 5px}
.verify-input-box{margin-bottom: 30px;}
.set-button{margin-top: 40px;}
.module-set-password .form-defined h1{margin-bottom: 20px;}
.verify-code-txt h2{margin: 5px 0;}

.verify-code .next-btn{ margin-top: 40px;}
.verify-code .form-defined{margin-top: 15px;}

/*------------------------------Product Details----------------------------------*/
.price-detail .txt3,
.price-detail .txt5{margin: 5px 0;}
.price-detail h3{margin: 0 0 5px;}

.detail-block{background-size: 12px auto;}
.detail-block p{ margin-right: 4%; line-height: 22px; font-size: 13px}
.detail-contact-bd > p{margin:0;}
.detail-block > .txt0{ line-height: 20px;}
.detail-block > .txt-bd{ padding-bottom: 8px; margin-bottom: 10px;}
.size-detail dt{ font-size:14px; line-height: 30px; width: 34px;}
.size-detail dd { margin-left: 40px;}
.size-detail dd li a{ padding: 4px 8px; border-radius: 2px;font-size:14px;}
.wx-payment{margin-top: 15px; padding: 0 15px;}
.p-detail { margin: 10px 10px 10px;}
.modal-buy { padding: 0; margin: 0 auto; left:5%; right: auto; width: 90%;}
.current-choose{ margin-top: 10px; padding: 10px 0 0;}
.modal-buy .modal-header{padding: 0 15px;}
.modal-buy .modal-header .close{ right: 10px; top: 5px; margin: 0; font-size: 30px; line-height:22px;}
.modal-buy .modal-body{ max-height: 300px;}
.modal-buy .modal-body .common-white{ padding-top: 0;}
.modal-buy .module-grey{ padding: 10px;}
.modal-buy .module-grey p{ padding-bottom: 0;}
.modal-buy .product-detail ul{margin-top: 10px;}
.modal-buy .product-detail li a{ padding: 4px 8px; border-width: 1px; border-radius: 2px;font-size:14px;}
.modal-buy .modal-color{margin-bottom: 10px;}
.tb-stock span{ font-size: 15px;}
.tb-stock a,
.tb-stock input{font-size: 20px;border-width: 1px;}
.tb-stock input{padding: 0 10px; margin-bottom: 0; border-width: 1px 0; height: 30px;  line-height: normal;width: 50px;}
.tb-stock a{height: 30px; width: 30px; text-align: center;}
.modal-num{ padding-top: 10px; margin-top: 10px;}
/*-------------------------------------form-box---------------------------------------------*/
.goods-size a{font-size: 14px;}
/*---------------------------------Tab--------------------------------------------*/
.module-tab0{padding: 5px;}
.module-tab0 .nav-tabs{ border-radius: 0;}
.module-tab0 .nav-tabs li a{ padding: 8px;}
.module-tab0 .nav-tabs li a,
.module-tab0 .nav-tabs li.active a{font-size: 16px;}
/*combos show*/
.module-show{ padding: 0 5px 15px;}
.carousel{margin-bottom: 10px;}
.combos-product{padding: 5px;}
.combos-product p{margin: 5px 0;}
.private-custom{ margin: 15px 5px; background-size: 100% auto;}
.private-bg{ background-size: 100% auto;}
.private-text{padding: 15px;}
.private-text p{margin-bottom: 5px; line-height: 20px;}

}


@media screen and (max-width: 480px) {

.top-link{padding: 4px;width: 20px; height: 20px; line-height: 20px;font-size: 18px;}
.top-link i{ line-height: 20px; }
 .nav-fixed{width: 100%;}
.shop-name{margin-top: 10px; font-size:18px; }
.btn-share0{ font-size: 12px; padding: 8px 8px;}
.shop-head-inner{padding: 0 10px 0 10px;}
.wrap-inner{ padding: 10px 5px;}
.module-content p a{ font-size: 13px; line-height: 20px;}
.suit-right .img-box{margin-bottom: 4px;}
.module-content .price-box{margin: 8px 0 2px;}
.countdown-browser .price-box { margin-top: 0;}
.countdown-browser .price-box:first-child { margin-top: 10px;}
.price-box,
.price-box em{font-size: 14px; font-family: arial; line-height: normal;}
.price-box .price em {font-size: 15px; font-family: arial; line-height: normal; font-weight: bold;}
.module-content{padding-bottom: 10px; margin-bottom: 10px;}
.share-link{display: inline-block; float: right; width: 25px; height: 25px; line-height: 30px;}
.share-link i{ margin-left: 2px; margin-top: 0; line-height: 25px; font-size: 16px;}
.nav1,
.nav2,
.nav3,
.footer-inner .nav4{ padding: 30px 0 0; font-size: 14px; background-size: 52px auto;}

.nav1{ left: 5%; padding-top: 60px; background-position: center -539px;}
.nav2{background-position: center 8px;}
.nav3{background-position: center -172px;}
.footer-inner .nav4{background-position: center -342px;}

.nav0.nav-current{background-position: center -678px;}
.nav2.nav-current{background-position: center -82px;}
.nav3.nav-current{background-position: center -262px;}
.footer-inner .nav4.nav-current{background-position: center -430px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav2{ background-position: center -65px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav3{ background-position: center -209px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav4{ background-position: center -432px;}
.footer-inner .dropdown-menu > li > a{ font-size: 16px; background-size: 20px auto;}
.bottom-caret .caret{left: 74%;}

/*---------------------------------Css Back-end-------------------------------------*/
.back-wrap-inner{padding: 0;}
.module-bg-white{ padding:10px 5px 20px;}
.module-bg-white2{ padding:10px 10px 10px; margin: 0 5px 5px;}
.module-title2 h3{ font-size: 15px;}
.title-link i{ margin-left: 5px; font-size: 14px;}
.module-pull{margin-top: 0;}
.mini-imgbox {margin-top: 25px;}
.mini-imgbox ul li i{ position: absolute;left: -4%; top: -20%;display: block; width: 20px; height: 20px; background-size: 16px auto;}
.upload-img {margin-top: 0;}
.upload-img ul li{ margin-right: 2px; width: 28.2%;}
.upload-img ul li i{ top: -10%; width: 20px; height: 20px; background-size: 20px auto;}
.module-title2 small{ font: 12px/20px "microsoft yahei";}
.goods-describe { margin-top: 0;}
.goods-describe textarea{font: 12px/20px arial,"microsoft yahei";}
.module-formbox{margin-top:0px; }
.module-formbox input,
.module-formbox .help-inlinetext { font-size: 12px; height: 30px; line-height: 20px;}
.block-box{margin-top: 20px;}

/*------------------Css Search Result---------------------*/
.module-search-ele{padding: 0 8px 0;}
.goods-text .btn {padding: 2px 0;}

/*-----------------------popup---------------------------*/
.popup-menu-box{width: 100%;}
.popup-menu{padding: 20px;}
.popup-menu > a{margin-bottom: 10px;}
.popup-menu > a,
.popup-menu > .btn{ padding: 10px 0; }

}

@media screen and (max-width: 320px) {

 .shop-name{ font-size:16px; }
 .hd{background-size: 16px auto; width: 16px; height: 16px;}
 .browerse-nav-link span{font-size: 12px;}
 .btn-share0{ padding: 6px 8px;}
.footer-inner .dropdown-menu > li > a{ padding: 10px 24px 10px 50px; background-size: 20px auto;}
}
