.p-detail {
  margin: 10px 20px 10px;
}
.p-title {
  color: #5E5E5E;
}
.p-price {
  margin-top: 5px;
}
.wx-price {
  float: left;
}
.wx-price h4 {
  color: #DBDDDE;
  font-weight: lighter;
}
.wx-price h4 span {
  color: #F16498;
}
.wx-price h5 {
  color: #DBDDDE;
  text-decoration:line-through;
  font-weight: normal;
}
.p-dapei {
  float: right;
  margin-right: 10px;
  padding-right: 10px;
}

/*product exist html*/
.p-list {
   padding: 15px 0;
   border-bottom: 1px solid #ccc;
   width: 100%;
}

 .p-list-first {
   padding-top: 0;
 }
 .p-list-last {
   border-bottom: none;
 }
 .p-pic {
   border: 1px solid #ccc;
   padding: 5px;
 }
 .p-info {
  margin-left: 25px;
 }
 .p-dp-price {
   text-decoration:line-through;
   font-size: 15px;
   margin-left: 50px;
 }
 .p-price1 {
  width: 100%;
  margin-top: 20px;
 }
 .p-price1 div {
  float: left;
  color: #DBDDDE;
  font-size: 17px;
 }
 .p-wx-price {
   color: #F16498;
 }
 .buttons {
   margin-top: 20px;
 }
 .buttons button {
   width: 80px;
 }
 .button-select {
   margin-left: 25px;
 }
