/*----------------------------Common Css------------------------------*/
.login-form { padding: 10px 30px;}
.login-form div {
    text-align: center;
    margin: 15px;
  }
  .login-form div:last-child {
    margin-top: 40px; 
  }

  .login-form p {
    margin: 2px;
  }

  .login-form input {
     margin-bottom: 0;
     height: 50px;
     width: 100%;
     color: #abadb3;
     font-size: 18px;
  }

  .login-form .tips {
    text-align: left;
    color: #abadb3;
    font-size: 20px;
    margin-top: 0;
  }
  .login-form .btn {
    width: 100%;
  }
/*-----------------------------------Order Detail-------------------------------------*/

.detail-imgbox{ border-radius: 5px; background:#eeeeee;}
.detail-imgbox img{ border-radius: inherit;}
.price-detail .txt3 em{font-style: normal;}
.price-detail h3{margin: 15px 0 10px;}
.price-detail h3 a{color: #676767;}
.detail-block{ background:url(../images/right.png) 99% center no-repeat transparent;}
.detail-contact-bd{ background-image: none;}
.detail-block > p{margin: 0 6% 0 0; line-height: 50px; font-size: 21px;}
.detail-contact-bd > p{margin:0;}
.detail-contact{cursor: pointer;}
.detail-block > .txt0{ line-height: 50px;}
.detail-block > .txt-bd{padding-bottom: 10px; margin-bottom: 20px;}
.detail-block > p > span{ padding-right: 0px;}
.detail-block > p > span:last-child{ padding-right: 0;}
.detail-block > p > span > b{font-weight: normal; }
.detail-block > p i{ margin-right: 4px; font-weight: normal; font-style: normal;}
.indent-head{ padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px dashed #dddddd;}
.bottom-button{padding: 15px 30px}
.bottom-button .controls-defined > .col-6{padding-right: 15px;}
.bottom-button .controls-defined > .col-6:last-child{padding-left: 15px; padding-right: 0}
.bottom-button{ background: #f2f1f1; border-top:1px solid #e2e2e2;}
.indent-btn{margin-top: 100px;}

/*----------------------------------My Order-------------------------------------*/
.module-state { padding-bottom: 10px; margin-bottom:30px;}
.module-state span{ color: #676767;}
.module-state span em{ font-style: normal;color: #F86B9F;}
.immediate-payment{margin-bottom: 0; border-top: 1px dashed #dddddd; padding: 20px 0; text-align: center;}
.order-notice { background: #ffffff;}
.order-notice h3{ margin: 0; padding: 10px 0;}


/*---------------------------------income--------------------------------------------*/
.income .common-white h4, h3, h6 {
      text-align: center;
    }
    .income .common-white h3 span {
      color: #f86b9f;
    }

    .income .common-white {
      font-size: 20px;
    }
    .income .common-white a span {
      color: #b7bac0;
    }

    .income a i:last-child {
      float: right;
      color: #f86b9f;
    }

    .income a i span {
      color: #b7bac0;
      float: left;
      padding-right: 8px;
    }
    .income .tips {
      padding: 10px 30px;
      margin-top: -15px;
      height: 60px;
      color: #b7bac0;
    }
    .income .tips span {
      font-size: 18px;
    }
    .income .common-white .income-menu4 span {
      color: #f86b9f;
    }

    .income .module-gray {
       background-color: #f2f1f1;
       border-top: 1px solid #dddddd;
       border-bottom: 1px solid #dddddd;
       padding: 5px 30px;
       margin-top: 60px;
    }
    .income .module-gray div {
       padding: 22px 0px;
       float: right;
    }
    .income .module-gray div a {
       color: #f86b9f;
       font-size: 20px;
    }
    .income .module-gray div span {
       padding-right: 10px;  
    }
    .income .common-white .fa {
      color: #f86b9f;
    }


@media screen and (max-width: 580px) {
  /*------------------------------Product Buy----------------------------------*/
.price-detail .txt3,
.price-detail .txt5{margin: 5px 0;}
.price-detail h3{margin: 0 0 5px;}
.detail-block{background-size: 12px auto;}
.detail-block > p{ margin-right: 4%; line-height: 22px; font-size: 12px;}
.detail-contact-bd > p{margin:0;}
.detail-block > .txt0{ line-height: 20px;}
.detail-block > .txt-bd{ padding-bottom: 8px; margin-bottom: 10px;}
.size-detail dt{ font-size:14px; line-height: 30px; width: 34px;}
.size-detail dd { margin-left: 40px;}
.size-detail dd li a{ padding: 4px 8px; border-radius: 2px;font-size:14px;}
.wx-payment{margin-top: 15px; padding: 0 15px;}
/*-----------------------------------Order Detail-------------------------------------*/
.indent-head{ padding-bottom: 15px; margin-bottom: 10px; }
.indent-btn{margin-top: 50px;}
/*----------------------------------My Order-------------------------------------*/
.module-state { padding-bottom: 0; margin-bottom:15px;}

/*-------income----*/
.income .common-white {
        font-size: 14px;
      }
      .income .module-gray div {
        padding: 15px 0px;
        float: right;
      }

      .income .module-gray div a {
       color: #f86b9f;
       font-size: 14px;
      }

      .income .module-gray {
        padding: 5px 15px;
      }

      .income .tips {
        padding: 10px 15px;
        margin-top: -8px;
        height: 40px;
        color: #b7bac0;
      }

      .income .tips span {
        font-size: 14px;
      }

}