/*----------------------------Common Css------------------------------*/
.login-form { padding: 10px 30px;}
.login-form .login-face{ margin: 64px 0 30px;}
.login-form input{color: #B7BBC2;}
.login-form .img-circle{ border:4px solid #f4f3f3; width: 144px; height: 144px;}

  .login-form p { margin-bottom: 70px;}

  .login-form .tips i{
  margin: 0 4px;
  color: #5d9cec;
  }
  .login-form .tooltip-inner { padding: 10px; max-width: 380px; text-align: left;}
  .login-form .tooltip-content {
   color: white;
  }
/*-----------------------------------Order Detail-------------------------------------*/

.detail-imgbox{ border-radius: 5px; background:#eeeeee; text-align: center; overflow: hidden; width:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.detail-imgbox img{ border-radius: inherit; width: auto; height: auto;}
.price-detail .txt3 em{font-style: normal;}
.price-detail h3{margin: 15px 0 10px;}
.price-detail h3 a{color: #676767;}
.detail-block{ background-image:url(../images/right.png); background-position: 99% center; background-repeat: no-repeat; background-repeat: transparent;}
.detail-contact-bd{ background-image: none;}
.detail-block p{margin: 0 6% 0 0; line-height: 50px; font-size: 21px;}
.detail-block p.txt2{ font-size: 26px;}
.detail-contact-bd > p{margin:0;}
.detail-contact{cursor: pointer;}
.detail-block > .txt0{ line-height: 50px;}
.detail-block > .txt-bd{padding-bottom: 10px; margin-bottom: 20px;}
.detail-block p > span{ padding-right: 0px;}
.detail-block p > span:last-child{ padding-right: 0;}
.detail-block p > span > b{font-weight: normal; }
.detail-block p i{ margin-right: 4px; font-weight: normal; font-style: normal;}
.indent-head{ padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px dashed #dddddd;}
.bottom-button{padding: 15px 30px}
.bottom-button .controls-defined > .col-6{padding-right: 15px;}
.bottom-button .controls-defined > .col-6:last-child{padding-left: 15px; padding-right: 0}
.bottom-button{ background: rgba(242, 241, 241, 0.9); border-top:1px solid #e2e2e2;}

/*----------------------------------My Order-------------------------------------*/
.module-state { padding-bottom: 10px; margin-bottom:30px;}
.module-state span{ color: #676767;}
.module-state span em{ font-style: normal;color: #F86B9F;}
.immediate-payment{margin-bottom: 0; border-top: 1px dashed #dddddd; padding: 20px 0; text-align: center;}
.order-notice h3{ margin: 0; padding: 10px 0;}

/*---------------------------------Change Password--------------------------------------------*/
.module-password{ padding: 30px;}
.module-password .form-defined input{ font-size: 24px;}
.module-password .password-nitice{ color: #b7bbc2;}
.pass-button .btn{ margin-top: 70px;}

/*---------------------------------Return Applications--------------------------------------------*/
.module-formblock{ padding: 30px;}
.module-formblock .form-defined input{ font-size: 24px;}
.module-formblock .password-nitice{ color: #b7bbc2;}
.block-button .btn{ margin-top: 70px;}
.module-applications{padding: 30px;}
.module-applications ol{ margin: 0; list-style-position: inside;}
.module-applications ol li{ line-height: normal;}
.module-applications .pay-h1{margin-bottom: 60px;}

/*---------------------------------Pay Fails--------------------------------------------*/
.module-pay{ padding: 30px;}
.pay-link a{ text-decoration: underline;}
.pay-link { margin-bottom: 100px;}

/*---------------------------------Successful Deal--------------------------------------------*/
.module-table-box h1{margin-top: 0;}
.module-table-box table tr td{font-size: 24px;}
.module-deal{padding: 30px;}
.pay-all{ color: #B7BBC2;}
.pay-all em{ font-style: normal; font-size: 36px;}

/*--------------------------------------------Shop trading-------------------------------------------------*/
.module-tab2{padding: 10px 0 0;}

/*--------------------------------------------Shop information-------------------------------------------------*/
.shop-information .img-rounded{ max-width: 136px; max-height: 136px;}
.shop-information{position: relative;}
.shop-information2 p{ padding-bottom: 10px; border-bottom:1px dashed #eeeeee;}
.shop-information2 p:last-child{ border-bottom:0; padding: 0; margin-bottom: 0;}
.shop-title{position: absolute; margin-top: -0.5em; top: 50%;}
.shop-logo{display: inline-block; border-radius: 6px; border:1px solid #eeeeee; overflow: hidden;font-size: 1px; text-align: center; width: 100%;}
.shop-bd {  border-bottom: 1px dashed #EEEEEE; margin-bottom: 20px; padding-bottom: 10px;}
.shop-form-defined{margin: 10px 0 0;}
/*---------------------------------Withdrawal Application--------------------------------------------*/
.module-withdrawal .common-white{margin: 0; border-top: 0;}
.withdrawal-notice{border:0; background: #faf9f9; padding: 30px;}
.withdrawal-notice ol{ list-style-position: inside;margin: 0;}
.withdrawal-notice ol li{ margin-bottom: 5px; line-height: 30px;}
.withdrawal-notice .btn-block{ margin-top: 50px;}
.module-withdrawal [class*="col-"] input{margin-bottom: 0;}

/*---------------------------------Product Manage--------------------------------------------*/
.product-card{border:0; margin-bottom: 20px;r}
.product-card .btn-large{ padding: 20px 60px; margin-top: 10px;}
/*---------------------------------Return Information--------------------------------------------*/
.return-information{ padding: 30px; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;}
.return-information h1{ margin-top: 0;}
.return-text { padding-bottom: 10px; margin: 10px 0 20px; border-bottom: 1px solid #eeeeee;}
.return-information .return-text:last-child { border-bottom:0;}
/*---------------------------------Theme--------------------------------------------*/
.module-theme{padding: 30px;}
.theme-ele{ position: relative; border:1px solid #eeeeee;}
.theme-ele i{ display: none; position: absolute; right: 5px; top: 0; color: #d63037; }
.theme-ele.active i{ display: block;}
.theme-ele p{ position: absolute; right: 0; left: 0; bottom: 0; margin: 0;background-color: rgba(202, 200, 201, 0.80); text-align: center; color: white; line-height: 40px;}

/*---------------------------------income--------------------------------------------*/
.income .common-white h3 {
  text-align: center;
}
.income .common-white h3 span {
  color: #f86b9f;
  font-size: 30px;
}
.income .common-white {
  font-size: 20px;
}
.income .can-carry{font-size: 26px;}
.income .common-white a span {
  color: #b7bac0;
}

.income a i:last-child {
  float: right;
  color: #f86b9f;
}

.income a i span {
  color: #b7bac0;
  float: left;
  padding-right: 8px;
}
.income .tips {
  padding: 10px 30px;
  margin-top: -15px;
  height: 60px;
  color: #b7bac0;
}
.income .tips span {
  font-size: 18px;
}
.income .common-white .income-menu4 span {
  color: #f86b9f;
}

.income .module-gray {
   background-color: #f2f1f1;
   border-top: 1px solid #dddddd;
   border-bottom: 1px solid #dddddd;
   padding: 5px 30px;
   margin-top: 60px;
}
.income .module-gray div {
   padding: 22px 0px;
   float: right;
}
.income .module-gray div a {
   color: #f86b9f;
   font-size: 24px;
}
.income .module-gray div span {
   padding-right: 10px;  
}
.income .common-white .fa {
  color: #f86b9f;
}

 /*----------income list----------*/   
.income-list .common-white div {
  color: #636363;
  line-height: 1.4em;
}
.income-list .income-money {
  color: #f86b9f;         
}
.income-list .income-money em{ font-size: 30px;}
/*-----------recieve-list----------------------*/

.recieve-list .recieve-money span {
  text-align: right;
  color: #f86b9f;
  display: inline-block;
  margin-top: 1.2em;
}


@media screen and (max-width: 580px) {
  .login-form { padding: 10px 15px;}
  .login-form .login-face{ margin: 32px 0 15px;}
  .login-form .img-circle{width: 72px; height: 72px;}
  .login-form .tooltip-inner {max-width: 200px;}
  .login-form p { margin-bottom: 35px;}
  /*------------------------------Product Buy----------------------------------*/
.price-detail .txt3,
.price-detail .txt5{margin: 5px 0;}
.price-detail h3{margin: 0 0 5px;}
.detail-block{background-size: 12px auto;}
.detail-block p{ margin-right: 4%; line-height: 22px; font-size: 13px;}
.detail-contact-bd > p{margin:0;}
.detail-block > .txt0{ line-height: 20px;}
.detail-block > .txt-bd{ padding-bottom: 8px; margin-bottom: 10px;}
.size-detail dt{ font-size:14px; line-height: 30px; width: 34px;}
.size-detail dd { margin-left: 40px;}
.size-detail dd li a{ padding: 4px 8px; border-radius: 2px;font-size:14px;}
.wx-payment{margin-top: 15px; padding: 0 15px;}
/*-----------------------------------Order Detail-------------------------------------*/
.indent-head{ padding-bottom: 15px; margin-bottom: 10px; }
.detail-block p.txt2{ font-size: 14px;}
/*----------------------------------My Order-------------------------------------*/
.module-state { padding-bottom: 0; margin-bottom:15px;}
/*--------------------------------------------Shop trading-------------------------------------------------*/

/*---------------------------------Change Password--------------------------------------------*/
.module-password{ padding:10px 5px 10px;}
.module-password .form-defined input{ font-size: 14px;}
.module-password .form-defined p{ margin-bottom: 5px;}
.pass-button .btn{ margin-top: 35px;}
/*----------------------------------Return Applications--------------------------------------------*/
.module-formblock{ padding: 15px;}
.module-formblock .form-defined input{ font-size: 14px;}
.module-formblock .form-defined p{ margin-bottom: 5px;}
.block-button .btn{ margin-top: 35px;}
.module-applications{padding: 15px;}
.module-applications .pay-h1{margin-bottom: 30px;}
/*---------------------------------Pay Fails--------------------------------------------*/
.module-pay{ padding: 15px;}
.module-pay .pay-h1{margin-bottom: 0;}
.pay-link { margin-bottom: 50px;}

/*---------------------------------Successful Deal--------------------------------------------*/
.module-table-box table tr td{font-size: 14px; line-height: 24px;}
.module-deal{padding: 5px; margin-top: 10px;}
.pay-all em{ font-style: normal; font-size: 20px;}
/*--------------------------------------------Shop information-------------------------------------------------*/
.shop-information .img-rounded{ max-width: 54px;}
.shop-form-defined{margin: 0;}
.shop-form-defined input,
.shop-form-defined label{ margin-bottom: 0;}
.shop-bd { margin-bottom: 10px; padding-bottom: 10px;}
/*---------------------------------Withdrawal Application--------------------------------------------*/
.module-withdrawal .defined-small [class*="col-"] > span,
.module-withdrawal .defined-small [class*="col-"] input,
.module-withdrawal .defined-small [class*="col-"] select,
.module-withdrawal .defined-small label[class*="col-"],
.module-withdrawal .form-defined .small-block{font-size: 14px;}

.module-withdrawal [class*="col-"] input{margin-bottom: 0;}
.withdrawal-notice ol li{ line-height: 20px;}
.withdrawal-notice{ padding: 15px;}
.withdrawal-notice .btn-block{ margin-top: 24px;}

/*---------------------------------Return Information--------------------------------------------*/
.return-information{ padding: 15px;}
.return-text p{margin: 0;}
.return-text { margin: 10px 0 10px; }
/*---------------------------------Product Manage--------------------------------------------*/
.product-card{ padding: 0;}
.product-card .btn-large{ padding: 8px 24px;}
.module-product .nav-tabs{margin: 0 0 10px;}
/*---------------------------------Theme--------------------------------------------*/
.theme-ele p{ line-height: 26px;}
.module-theme{padding: 15px;}
/*-------income----*/
.income .common-white {
  font-size: 14px;
}
.income .module-gray div {
  padding: 10px 0px;
  float: right;
}

.income .module-gray div a {
 color: #f86b9f;
 font-size: 14px;
}

.income .module-gray {
  padding: 5px 15px;
}

.income .tips {
  padding: 10px 15px;
  margin-top: -8px;
  height: 40px;
  color: #b7bac0;
}

.income .tips span {
  font-size: 14px;
}

/*----------income list------------*/
.income-list .income-money em{ font-size: 18px;}
.income .common-white h3 span{font-size: 18px;}
.income .can-carry{font-size: 18px;}
/*-----------recieve-list----------------------*/
.recieve-list .recieve-money span {
  font-size: 18px;
}

}