
/*-------------------------------Css Front-------------------------------------*/
.face-img {background:#e3e4e8;}
.shop-name{color: #7d022f;}
.module-title h3{ color: #676767; background-color: #ece9ea;}
.module-content p a{color:#676767;}
.share-link{ background-color: #f86b9f;}
.share-link i{ color: #ffffff;}
.price-box em{ color: #f86b9f;}
.price-box span{ color: #c3c6cb;}
.nav1,
.nav2,
.nav3,
.footer-inner .nav4{ color: #c3c6cb;}
.nav2:focus,
.nav2:hover,
.nav3:focus,
.nav3:hover,
.footer-inner.nav4:focus,
.footer-inner.nav4:hover{ color: #c3c6cb; text-decoration: none;}
.nav2.nav-current,
.nav3.nav-current,
.footer-inner .nav4.nav-current{color:#f86b9f;}

.footer-inner .nav4:focus{ color:#F86B9F;}
.footer-inner .dropdown-menu.pull-right{ background-color: rgba(248, 107, 159, 0.85);}
.footer-inner .dropdown-menu > li > a{ color: #ffffff;}
.footer-inner .dropdown-menu > li > a:hover,
.footer-inner .dropdown-menu > li.active > a{background-color: #ed518b; background-image: url(../images/more.png); background-repeat: no-repeat;}







/*-------------------------------Css Back-end-------------------------------------*/

.back-wrap-inner{background: #faf9f9;}
.module-title2 h3{ color: #676767;}
.module-title2 h3 i{ color: #f86b9f;}
.title-link{color: #f86b9f;}
.module-formbox input,
.module-formbox .help-inlinetext {color: #c3c6cb;}
.module-uploadimg .title-link{ color: #dadada;}


.goods-box .goods-text a{color: #abadb3;}
.goods-box .goods-text a:active,
.goods-box .goods-text a:hover,
.goods-box .goods-text a:focus{ color: #F16498;}

.module-searchinput{ background:#f86b9f;}
.module-tab .nav-tabs > li > a{ color: #f86b9f;}
.module-tab .nav-tabs > .active > a,
.module-tab .nav-tabs > .active > a:hover,
.module-tab .nav-tabs > .active > a:focus{ border-bottom: 1px solid #f86b9f; color: #f86b9f;}

/*------------------------弹出选择---------------------------*/
.popup-menu{background: #ebebeb;}
.popup-menu > a:hover,
.popup-menu > a:focus,
.popup-menu > a:active{color: #F16498;}


/*-------------------------------Css Back-end-------------------------------------*/
.module-table-box table tr td{color: #b7bbc2;}
/*-----------------------------------------*/
.module-remaining h1 span{ color: #f16498;}
.verify-code-txt h2:last-child  span {color: #f16498; }


/*------------------------------Product Buy----------------------------------*/

.detail-imgbox{border:2px solid #d9dde3;}
.price-detail .txt3,
.price-detail .txt5{color: #c3c6cb;}
.price-detail .txt3 em{color: #F86B9F;}
.size-detail dd li a:focus,
.size-detail dd li a:active,
.size-detail dd li.active a,
.size-detail dd li a:hover{ border-color: #F86B9F;}
.detail-block > p{color: #abadb3}
.detail-block > .txt-bd{ border-bottom: 1px dashed #dddddd;}
.detail-block > p > span > b{color: #676767;}
.detail-block > p > span a{color: #abadb3;}
.detail-block > p i{ color: #F86B9F;}

/*----------------------------------My Order-------------------------------------*/
.module-state { border-bottom: 1px dashed #dddddd;}
.order-notice h3{color: #F86B9F;}