@media screen and (max-width: 640px) {
	footer{width: 100%;}
 	.btn-share0{ padding: 14px 19px;}
}

@media screen and (max-width: 480px) {
.top-link{padding: 4px;width: 20px; height: 20px; line-height: 20px;font-size: 18px;}
.top-link i{ line-height: 20px; }
 .nav-fixed{width: 100%;}
 .wrap-inner{ margin-bottom: 80px;}
.shop-name{margin-top: 15px; font-size:18px; }
.btn-share0{ font-size: 12px; padding: 8px 8px;}
.shop-head{ bottom: -36px;}
.shop-head-inner{padding: 0 10px 0 10px;}
.wrap-inner{margin-top: 40px; padding: 10px 5px;}
.module-title h3{ padding: 0 10px; font: 15px/32px "microsoft yahei";}
.module-content p a{ font-size: 13px; line-height: 20px;}
.suit-right .img-box{margin-bottom: 6px;}
.mark-img{width: 70px;}
.module-content p.price-box{margin-top: 2px;}
.price-box,
.price-box em{font-size: 16px;}
.module-content{padding-bottom: 10px; margin-bottom: 10px;}
.share-link{display: inline-block; float: right; width: 25px; height: 25px; line-height: 30px;}
.share-link i{ margin-left: 2px; margin-top: 0; line-height: 25px; font-size: 16px;}
.nav1{ left: 20px; top: -12px;}
.nav1 img{ width: 60px;}
.nav2,
.nav3,
.footer-inner .nav4{ padding: 30px 0 0; font-size: 14px; background-size: 20px auto;}

.nav2{background-position: center 8px;}
.nav3{background-position: center -172px;}
.footer-inner .nav4{background-position: center -342px;}

.nav2.nav-current{background-position: center -82px;}
.nav3.nav-current{background-position: center -262px;}
.footer-inner .nav4.nav-current{background-position: center -430px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav2{ background-image: url(../images/nav-img.png); background-position: center -65px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav3{ background-image: url(../images/nav-img.png); background-position: center -209px;}
.footer-inner .btn-group.open .btn.dropdown-toggle.nav4{ background-image: url(../images/nav-img.png); background-position: center -432px;}
.footer-inner .dropdown-menu > li > a{ font-size: 16px; background-image: url(../images/more.png); background-size: 20px auto;}
 .bottom-caret .caret{left: 74%;}
}

@media screen and (max-width: 320px) {
 .wrap-inner{ margin-bottom: 100px;}
 .shop-name{ font-size:16px; }
 .btn-share0{ margin-top: 40px; padding: 6px 8px;}
 .shop-head{ bottom: -30px;}
 .nav1{ left: 20px; bottom: -15px;}
 .nav1 img{ width: 48px;}
.footer-inner .dropdown-menu > li > a{ padding: 10px 24px 10px 50px; background-size: 20px auto;}

}
