.face-img {background:#e3e4e8;}
.shop-name{color: #7d022f;}
.module-title h3{ color: #676767; background-color: #ece9ea;}
.module-content p a{color:#676767;}
.share-link{ background-color: #f86b9f;}
.share-link i{ color: #ffffff;}
.price-box em{ color: #f86b9f;}
.nav1,
.nav2,
.nav3,
.footer-inner .nav4{ color: #c3c6cb;}
