@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-10-01 17:59:30
 * @version $Id$
 */
pre{padding:0;font-size: 14px;background: transparent; border:0;border-radius:0;}
pre p,
p{text-indent:2em;}

html,
body{ background:#eeeff1 url(../images/bg.png) repeat 0 top; line-height: 20px; font-size: 12px;}

.header{background-color: #FFFFFF; border-bottom: 1px solid #e0e0e0;}
.Top{background-color: #f5f5f5;border-bottom: 1px solid #eeeeee;}
.Top .navbar{margin: 0;}
.Top .navbar-inner{background: none; border:none; padding: 0; box-shadow: none;border-radius: 0; min-height: 25px;}
.Top .navbar .collapse{padding: 0;}
.Top .navbar .collapse > ul{margin: 0;}
.Top .navbar .collapse > ul.nav > li > a{padding: 8px 15px;}

.Top .login-register > span{color: #D6D6D6;}
.Top .login-register > span > a{padding: 8px 10px; display: inline-block; color: #777777;}
.Top .login-register > span > a:hover{text-decoration: none;color: #333333;}

.Top ul.nav > li > a{padding: 8px 15px;}
.Top .navbar .collapse > ul.nav > li > a.disabled{color: #d6d6d6; padding: 8px 0;}
.Top .navbar .main-focus a{color:#e14043; }
.Top .brand { background: url(../images/logo2.png) no-repeat center center; width: 100px; text-indent: -9999px;}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus{background-color: #E5E5E5; color: #555555; box-shadow: none;}


.tel-img{margin-top: 20px; background: url(../images/index_title.png) -1px -259px no-repeat; height: 15px; width: 219px;}
.lang-en .tel-img{ background-image: url(../images/index_title-en.png)}
.SearchBox{padding: 15px 0;}
.SearchBox form{margin: 0;}

@media (max-width: 768px){
.SearchBox{padding: 5px 0 15px;}
}

.SearchBox .logo {max-width: 163px;}
.SearchBox .input-group{ margin-top: 6px;}
.SearchBox .input-prepend .btn-group .search-select{ padding-right: 0;border-left:2px solid #ed5153; border-right:none; border-radius: 3px 0 0 3px; background: #ffffff;}
.SearchBox .search-select{width: 115px;}
.SearchBox .search-select i{margin-left: 3px;}
.SearchBox .search-select span{ padding:0 0 0 8px; color: #d6d6d6;}
.SearchBox .form-control0{color: #5c5c5c; border-right: 0; border-left:0; width: 56%;}
.SearchBox .form-control0:hover,
.SearchBox .form-control0:focus,
.SearchBox .form-control0:active{box-shadow: none;}

.SearchBox .search-select,
.SearchBox .form-control0,
.SearchBox .input-group-btn-search{ border-top:2px solid #ed5153; border-bottom:2px solid #ed5153; color: #6c6c6c; padding-bottom: 10px; padding-top: 10px;}
.SearchBox .search-select:hover,
.SearchBox .search-select:focus,
.SearchBox .search-select:active{ background:none; box-shadow: none;}

.SearchBox .input-prepend{position: relative; width: 100%;}
.SearchBox .input-prepend .btn-group{position: static;}

.SearchBox .search-select-open:hover,
.SearchBox .search-select-open:focus,
.SearchBox .search-select-open:active{background-color: #ffffff; color: #6c6c6c; border-color: #ed5153; outline: none;}
.SearchBox .form-control0:focus{border-color: #ed5153;}

.SearchBox .input-prepend .input-group-btn-search{ border:2px solid #ed5153; background: #ED5153; color: #ffffff; text-shadow:none; box-shadow: none; border-radius: 0 3px 3px 0; padding: 10px 30px; font-weight: bold;}

@media (min-width: 768px){
    .SearchBox .input-prepend .input-group-btn-search { padding: 10px;}
    .SearchBox .form-control0{width: 48%;}
}
@media (min-width: 1200px) { 
	.SearchBox .input-prepend .input-group-btn-search { padding: 10px 30px;}
 }
@media (max-width: 479px){
    .SearchBox .input-group-btn-search { padding: 10px;}
}


.region-select{ font-size: 12px; position: absolute; left: 0; top: 42px; z-index: 10; border:2px solid #ed5153; padding: 20px; background-color: #FFFFFF; width: 92%;}
.SearchBox .input-prepend .btn-group .search-select-open{ border-bottom:0; padding-bottom: 12px; border-right:2px solid #ed5153;  border-radius: 3px 0 0; position: relative; z-index: 12; box-shadow: none;}
.SearchBox .input-prepend .btn-group .search-select-open span{color: #FFFFFF;}

.SearchBox .input-prepend .btn-group .search-select-open:hover,
.SearchBox .input-prepend .btn-group .search-select-open:focus,
.SearchBox .input-prepend .btn-group .search-select-open:active{background: #ffffff;}

.search-history{padding-top: 8px;}
.search-history li{ font-size: 12px;}
.search-history i.fa{margin-left: 3px;}
.search-history .btn{border:none; color: #6c6c6c; font-size: 12px; padding: 4px 0; box-shadow: none;background:none;}
.search-history .open .btn:hover,
.search-history .open .btn:focus,
.search-history .open .btn:active{background: none; box-shadow: none; border:none; outline: none;}
.SearchBox .dropdown-menu > li > a{font-size: 12px;}

.Popular-keyword{ padding-left: 0; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.Popular-keyword h4{ margin: 0; font-size: 12px; color: #6c6c6c; font-weight: normal;}
.Popular-keyword li{ padding: 0;}
.Popular-keyword li a{ color: #0063dc;}
.Popular-keyword li span{ color: #e0e0e0; padding: 0 4px;}

.tel-img{margin-top: 20px;}


.footer{background-color: #ffffff; border-top: 1px solid #ed5153; margin:30px 0 0; border-bottom: 0;}
.footer .footer-inner .span3{width: 17%;}
.footer-inner{padding: 18px 30px 10px;}
.footer dl{border-left: 1px solid #e5e5e5; min-height: 200px;}
.footer .footer-first-dl{border:none;}

@media (max-width: 480px){
.footer .dl-odd{ border:0;}
}
@media (max-width: 768px){
.footer .footer-inner .span3{width: 100%;}
}

.footer dl dt{font-family: "microsoft yahei"; font-weight: normal; font-size: 18px; color: #6c6c6c; padding-bottom: 4px;border-bottom: 1px solid #51aded; margin: 0}
.footer dl dt,.footer dl dd{padding-left: 22px; margin: 0}
.footer dl .title1-dd,.footer dl .title3-dd,.footer dl .title5-dd{height: 2px; width: 22px; padding: 0; background-color: #51aded;}
.footer dl .title2,.footer dl .title4{border-bottom: 1px solid #ed5153;}
.footer dl .title2-dd,.footer dl .title4-dd{height: 2px; width: 22px; background-color: #ed5153; padding: 0;}
.footer .footer-last-dl ul{ margin-top: 14px;}
.footer ul{list-style: none; padding-left: 0; padding-top: 6px; margin: 0;}
.footer ul li{ padding: 8px 0 0;}
.footer ul li a{ color: #6c6c6c;}
.footer ul.list-inline{ padding-top: 0;}
@media (max-width: 480px){
.footer dl{ border:0; min-height: 130px;}
}

.CopyRight{background-color: #f5f5f5; border-top: 1px solid #eeeeee; color: #6c6c6c;line-height: 20px; padding:5px 0;}
.CopyRight .row-fluid .span2,.CopyRight .row-fluid .span8{min-height: 22px;}

.CopyRight .mmi{color: #999999;}
.copy{padding-right: 14px;}

.footer-last-dl .popover-title{font-size: 12px;}
.footer-last-dl .popover-content{padding: 0;}

.footer-inner .sinat, .footer-inner .qqt, .footer-inner .wechat{ display: inline-block; width: 38px; height: 38px; margin-top: 0; background-image: url("../images/guanzhu_11.png");text-indent: -9999px;}
.footer-inner .sinat{background-position: left top; }
.footer-inner .qqt{background-position: -48px top; }
.footer-inner .wechat{background-position: -96px top; }
.footer-inner .footer-last-dl ul li{padding-top: 0; padding-right: 5px; padding-left: 5px;}

