/*自定义提示信息框*/

.text-error{
  border-color: #ed5153;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.text-error:focus {
  border-color: #ed5153;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ed5153;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ed5153;
}

input.text-error{background: url(../images/gantan_03.png) no-repeat 97% center #FFFFFF; padding-right: 30px;}
.error-text-right{position: relative; text-align: right; height: 1px;}
.error-text-right .text-error{font-size: 12px; color: #FFFFFF; background:none repeat scroll 0 0 #ED5565;border:2px solid #ed5565; border-radius: 5px; padding: 4px 8px; position:absolute; top: -4px; right: -6px; z-index: 20; white-space: nowrap; min-width: 60px;}
.error-text-right .text-error-icon{box-shadow: none;}
.error-text-right .text-error-icon:before{content: ""; border-bottom:6px solid #ed5565; border-left: 8px solid transparent; border-right: 8px solid transparent; position:absolute; right:16px; top:-8px;}
.error-text-right .text-error-icon:after{content: ""; border-bottom:4px solid #ed5565; border-left: 6px solid transparent; border-right: 6px solid transparent; position:absolute; right:18px; top:-6px;}

.error-text-left{position: relative; text-align: left; height: 1px;}
.error-text-left .text-error{font-size: 12px; color: #FFFFFF; background:none repeat scroll 0 0 #ED5565;border:2px solid #ed5565; border-radius: 5px; padding: 4px 8px; position:relative; top: -34px; left: 103%; z-index: 20;}
.error-text-left .text-error-icon{box-shadow: none;}
.error-text-left .text-error-icon:before{content: ""; border-right:6px solid #ed5565; border-top: 6px solid transparent; border-bottom: 6px solid transparent; position:absolute; left:-8px; top:6px;}
.error-text-left .text-error-icon:after{content: ""; border-right:4px solid #ed5545; border-top: 4px solid transparent; border-bottom: 4px solid transparent; position:absolute; left:-6px; top:8px;}

* html .error-text-right{display: inline-block; height: 1px;}
* html .error-text-right .text-error-icon{display: inline-block; padding-top:9px; background: #ed5565 url(../images/sanjiao_03.jpg) no-repeat right top; border: 0;top: -9px;}
*+html .error-text-right{display: inline-block; height: 1px;}
*+html .error-text-right .text-error-icon{display: inline-block; padding-top:9px; background: #ed5565 url(../images/sanjiao_03.jpg) no-repeat right top; border: 0;top: -9px;}