@charset "UTF-8";

/*导航条*/
.navbar .btn{padding: 6px 20px;}
.navbar .navbar-form{margin-top: 8px; margin-bottom: 8px; padding: 0 15px;}
.navbar ul.navbar-nav{margin: 0;}
.navbar-nav.navbar-right:last-child{margin-right: -15px;}
.container > .navbar-header{margin:0;}
.navbar > .container .navbar-brand{margin: 0; padding: 15px;}
.navbar > .container > .navbar-collapse{margin: 0;}
/* /导航条*/

.navbar-brand{font-size: 20px;margin-left: 20px;}

.navbar {border-radius: 0;}
.navbar .navbar-form{width: 300px;}
.navbar-default{background: #fff;border:0;border-bottom:1px solid #e0e2e8;padding-top: 25px;box-shadow: 0px 0px 3px #dbdde3;}
/*
.navbar-form-company .btn{border-left:0;}
.navbar-form-company input.form-control{border-right: 0;}
*/
.navbar-form-company .input-group-btn{left: -34px;}
.navbar-form-company .input-group-btn .btn-default{background: transparent;padding: 6px 10px}

.navbar-form-company .btn{border:0;}

.main-nav li a{height: 51px;line-height: 51px;line-height: 0\9;padding-top: 0;padding-right: 5px; padding-bottom: 0;}
.navbar ul.main-nav{margin: 0 20px;}

.navbar-nav>li>a {color: #555;/*background: transparent;*/}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{background-color: transparent;/*background-color: #ebedf3; border:1px solid #e0e2e8;border-bottom:0;*/}
.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav>.active a{background:transparent url(../images/bg-navmenu-active.png) no-repeat;color: #767c91;cursor: default;}
.navbar-default .navbar-nav>.active{background-position:right 0;padding-right: 20px;}
.navbar-default .navbar-nav>li{bottom: -3px;}

.navbar-form-company .form-control:first-child{border-radius: 4px;border-color: #e3e4e8;}
.navbar-form-company .form-control:first-child:focus{border-color: #599af8;}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {background-color: #599af8;}


header{height: 80px;/*overflow: hidden;*/margin-bottom: 20px;}
header nav{/*height: 77px;overflow: hidden;*/ /*padding-right: 77px;*/}
.btn-add-company{background: #599af8;height: 77px;width: 77px;line-height: 87px;text-align: center;position:absolute;right: 0;top: 0;display: none;}
.btn-add-company .fa{color: #fff;font-size: 26px;}

.fa{color: #599af8;}
.fa-search{color: #393f48;}
.main-nav .fa{font-size: 24px;float: left;line-height: inherit;margin-right: 5px;margin-top: 10px\9;/*display: inherit\9;*/}
.main-nav li span{float: left;margin-left: 30px\9;}
.main-nav li a{padding-top: 15px\9\0;}


.footer-inner{background: #2f313a;padding: 20px;margin: 40px 0 10px;border-radius: 4px;}
.footer-inner,
.footer-inner a{color: #8f9399;}
.footer-inner a{opacity: .8;}
.copyright{}
.poweredby{font-size: 12px;}




html,
body{background: #ebedf3;/* color: #333;*/}

.main-company{padding: 20px;min-height: 350px;}

.icon-qq,
.icon-sina{ background-image: url(../images/cheku-share.png); padding: 8px; margin-right: 4px; vertical-align: middle;}
.icon-qq{background-position: left top; background-repeat: no-repeat;margin-left: 15px;}
.icon-sina{background-position: -35px top; background-repeat: no-repeat;}



/* all company */
.module-company-list{border:1px solid #dddfe4;background: #fff;border-radius: 4px;}
.module-company-list .module-title{background: #f2f3f6;border-top:1px solid #fff;border-bottom:1px solid #dddfe4;padding: 15px  20px 15px;}
.module-company-list .module-title h2{font-size: 16px;margin: 0;color: #2f313a;/*font-family: "microsoft yahei";*/}

.module-company-list .module-content{}

.element-company-list{padding: 20px;border-bottom:1px solid #e7e7e7;}
.element-company-list.even-line{background: #fafafa;}


.company:before,
.company:after {display: table;content: " ";}
.company:after {clear: both;}

.company{}
.company-logo,
.company-info{float: left;}
.company-logo{margin-right: 20px;width: 131px;height: 67px;line-height: 65px; overflow: hidden;background: #fff;border:1px solid #ececec;text-align: center;}
.company-logo img {margin-right: auto;margin-left: auto;max-width: 100%;}
.company-info p{font-size: 12px;margin-bottom: 5px;}
.company-info p:last-child{margin-bottom: 0;}
p.company-name{font-size: 14px;margin-bottom: 10px;}
.company-info span{color: #808080;}

.element-company-handle{margin-top: 10px;margin-bottom: 0;}
.element-company-handle .fa{color: #ccc;}
.element-company-handle a:link,
.element-company-handle a:visited{color: #808080; /*font-size: 14px;*/}
.element-company-handle .element-line{color: #dddfe4;margin:0 10px;}
/* /all company */



/* add company */
.module-add-company{padding:30px 20px 20px;}
.module-add-company label{font-weight: normal;}
.upload-tips{color: #999;font-size: 12px;display: block;margin-top: -15px;}

.pop-operation-scope{background: #fff;border:1px solid #ccc;padding-right: 1px;padding-bottom: 1px;box-shadow: 0px 5px 10px #dbdde3;width: 200%;position: absolute;z-index: 10;display: none;}
.pop-operation-scope ul{margin: 0;padding: 0;list-style: none;}
.pop-operation-scope li{float: left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-top: 1px;padding-left: 1px;width: 25%;}
.pop-operation-scope li a{background: #f2f3f6;color: #2f313a;padding: 10px 0px;text-align: center; display: block;white-space: nowrap;text-decoration: none;}
.pop-operation-scope li a:hover,
.pop-operation-scope .active a{background: #599af8;color: #fff;}


.pop-company-tag{background: #fff;border:1px solid #ccc;padding-right: 1px;padding-bottom: 1px;box-shadow: 0px 5px 10px #dbdde3;width: 200%;position: absolute;z-index: 10;display: none;}
.pop-company-tag ul{margin: 0;padding: 0;list-style: none;}
.pop-company-tag li{float: left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-top: 1px;padding-left: 1px;width: 25%;}
.pop-company-tag li a{background: #f2f3f6;color: #2f313a;padding: 10px 0px;text-align: center; display: block;white-space: nowrap;text-decoration: none;}
.pop-company-tag li a:hover,
.pop-company-tag .active a{background: #599af8;color: #fff;}

/*
.pop-company-tag{background: #fff;border:1px solid #ccc;padding: 1px;padding-top: 0;box-shadow: 0px 5px 10px #dbdde3;position: absolute;z-index: 10;display: none;}
.pop-company-tag ul{margin: 0;padding: 0;list-style: none;}
.pop-company-tag li{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-top: 1px;}
.pop-company-tag li a{background: #f2f3f6;color: #2f313a;padding: 10px 20px;display: block;white-space: nowrap;text-decoration: none;}
.pop-company-tag li a:hover,
.pop-company-tag .active a{background: #599af8;color: #fff;}
*/

.reset-readonly,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control{cursor: text;background: #fff;}
/* /add company */

/* add company existing */
.module-company-list-existing h2{line-height: 34px;}
.company-handle{margin-top: 25px;}
.element-company-name{font-size: 12px;color: #808080;}
/* /add company existing */

/*open position*/
.module-add-company .checkbox,
.module-add-company .checkbox-inline{ color: #768082;}
.module-add-company .checkbox-inline{ margin-left: 0; margin-right: 10px;}
.module-add-company .checkbox-inline label{font-weight: normal;}
.label-focus{color: #ED5565;}
.label-focus span{color: #555555;}
.module-add-company .control-label em{ font-weight: normal; font-style: normal; font-family: "Microsoft YaHei"; vertical-align: middle; color: #ed5565;}
/* ./open position*/

/*jobs-manage*/
.module-title{padding: 12px 20px; border-bottom: 3px solid #e3e4e8;}
.module-title h2{font-family: "Microsoft YaHei"; font-size: 16px; color: #393f48; margin: 0; line-height: 30px; }
.module-title h2 small{font-family: "SimSun"; font-size: 12px; vertical-align: middle; padding-left: 8px;}
.module-title .btn-success{padding: 8px 15px; font-size: 12px;}
.module-title .module-more{float: right; font-family: "Microsoft YaHei"; font-size: 16px; color: #4b89dc;}

.table-border0 { margin: 0;}
.table-border0 tbody > tr > th{color: #81b449;white-space: nowrap;}
.table-border0 tbody > tr > th,
.table-border0 tbody > tr > td{border-top: 0; font-size: 12px; padding: 16px 20px;}
.table-border0 tbody > tr > td > a{color: #393f48;}
.table-border0 tbody > tr > td > a:hover{ text-decoration: none; opacity: 0.70; filter: alpha(opacity=70);}
.table-border0 tbody > tr > td > a > em{color: #ed5565; font-style: normal; padding-left:4px; }
.table-border0 tbody > tr > td > span{color: #a4a9ae; padding: 0 10px;}
.table-border0 tbody tr:hover > td,
.table-border0 tbody tr:hover > th { background-color: #f6f8fa;}


.module-admin-table{font-size: 12px; color: #393f48; margin: 0;}
.module-admin-table thead > tr > th{ padding: 8px 20px;  background-color: #a4aeb9; font-weight: normal; color: #FFFFFF; border-bottom-color: #93999e;}
.module-admin-table thead > tr > th > a{color: #FFFFFF;}
.module-admin-table thead > tr > th.text-center{text-align: center;}
.module-admin-table tbody > tr > td{padding: 16px 20px; border-bottom: 2px dashed #e3e4e8;}
.module-admin-table tbody > tr:last-child > td{ border-bottom: 0;}
.module-admin-table tbody > tr > td a{color: #393f48; }
.module-admin-table tbody > tr > td:first-child > input{position: relative;top: 3px; margin-right: 4px; margin-top: 0; }
.module-admin-table tbody > tr > td > a i{ color: #b7bbc2; font-size: 16px; vertical-align: middle;}
.module-admin-table tbody > tr > td em{ font-style: normal; color: #ed5565;}
.module-admin-table tbody > tr > td .link-focus{ color: #4b89dc;}
.module-admin-box .btn i.fa{ color: #ffffff;}
.module-admin-box  .btn-default i.fa{ color: #599AF8;}


.module-admin-table-igrey tbody > tr > td > a i{ color: #b7bbc2; font-size: 16px; vertical-align: middle; margin-right: 2px;}

.table-highlight{font-weight: bold; background-color: #fefbf2;}


.module-left-box{background: #FFFFFF; border-radius: 5px; border-bottom: 3px solid #e3e4e8; margin-bottom: 10px;}
.module-left-box-inner .nav-pills{padding: 10px 0;}
.module-left-box-inner .divider{border-top: 2px dashed #f1f1f3; height: 1px; margin: 5px 8px 5px 40px;}
.module-left-box-inner .nav-pills > li > a{border-radius: 0; border-left: 4px solid #ffffff; color: #434a54; padding:15px 15px 15px 20px; font-size: 12px; font-weight: bold; color: #768082;}
.module-left-box-inner .nav-pills > li > a .fa-chevron-right{line-height: 20px; color: #FFFFFF;}
.module-left-box-inner .nav-pills > li.active > a .fa-chevron-right{color: #768082;}
.module-left-box-inner .nav-pills > li > a:hover,
.module-left-box-inner .nav-pills > li > a:focus,
.module-left-box-inner .nav-pills > li.active > a,
.module-left-box-inner .nav-pills > li.active > a:hover,
.module-left-box-inner .nav-pills > li.active > a:focus{color: #768082; background-color: #f6f8fa; border-left: 4px solid #ed5565; outline: none;}

.operation-line{padding: 20px;}
.operation-line .btn{padding: 6px 20px; margin-left: 10px;}
.operation-line .all-select{padding: 6px 0; margin-right: 10px; vertical-align: middle; color: #777777;}
.operation-line span input{margin: 0 4px 0 0; vertical-align: middle;}


/*职位管理*/

.col-main-jobs-management{background: #ffffff;}
.col-main-jobs-management > ul li a{ color: #888888;}
.col-main-jobs-management table tr th{ white-space: nowrap;}
.col-main-jobs-management table tr td:last-child > a{ color: #393F48; margin-right: 6px; white-space: nowrap;}
.col-main-jobs-management table tr td > a > i{ color: #B7BBC2; font-size: 14px; vertical-align: middle;}
.col-main-jobs-management table tr .release-end{ color: #999999;}
.col-main-jobs-management table tr .release-ing{ color: #A0D468;}

/* /职位管理*/
/* ./jobs-manage*/