
/*fonts*/
@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
http://meyerweb.com/eric/tools/css/reset/
v2.0|2011-01-26
License:none(publicdomain)
*/

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
.post,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}


/*HTML5 element reset*/
.post,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	line-height:1;
}
ol,ul{
	list-style:none;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
h1{
	font-size:36px;
}
h2{
	font-size:24px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
.text-center{text-align: center;}


/*index*/
body{ background:#efefef; font-family: "microsoft yahei";}
.Box-white{padding:30px 38px 40px; background:white; margin:20px; border:2px solid #e2e2e2; border-radius: 5px;}
.binding-success h2{ margin-top: 50px; text-align: center; font:normal 30px/28px "microsoft yahei"; color: #84c328;}
.btn-box{text-align: center; margin: 40px 0 40px;}
.btn-box .btn{margin-bottom: 20px;}
.binding-success h2 .info-icon{margin-right: 8px;}
.btn{border-radius: 4px; padding: 16px 70px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); background:white; font-size: 18px; color: #595858; font-family: "microsoft yahei";text-align: center; white-space: nowrap; vertical-align: middle;border:2px solid #c5c8cb;}
.btn-default{}
.btn-success{}
.info-icon{ display: inline-block; vertical-align: top; height: 28px; width: 28px; background:url(../images/info-icon.png) 0 top no-repeat;}
/*#--index*/


/*login in*/
.form-inner{width: 100%;}
.login-input input{display: block; padding: 6px 12px; margin-bottom: 20px; height: 46px; width: inherit; border:2px solid #c5c8cb; border-radius: 6px;font-size: 14px; color: #a9a9a9; font-family: "microsoft yahei";}
.wei-logo{ margin-bottom: 40px;}
/*#--login in*/

@media screen and (max-width: 720px) {
	.binding-success h2{margin-top: 20px; font-size: 24px;}
}
@media screen and (max-width: 480px) {
	.btn{ padding: 8px 20px; font-size: 14px;}
	.btn-box .btn{margin-bottom: 10px;}
	.Box-white{padding:30px 30px 60px; }
    .binding-success h2{ font-size: 22px;}
}

@media screen and (max-width: 320px) {
	.btn{font-size: 12px;}
	.Box-white{padding:20px 20px 40px; }
	.binding-success h2{ font-size:20px;}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {

	.info-icon{ background-image:url(../images/info-icon2x.png);background-size: 28px 28px;}
    }

}
